Repository myler/llvm-test-suite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pvchupin, @intel/llvm-reviewers-runtime, @dm-vodopyanov, @AlexeySachkov, @vzakhari, @MrSidims, @kychendev, @kbobrovs, @v-vklochkov, @intel/dpcpp-esimd-reviewers, @Pennycook, @intel/dpcpp-l0-pi-reviewers, @intel/dpcpp-tools-reviewers, @v-klochkov, @cperkinsintel, @jbrodman, @sergey-semenov, @againull, @myler, @wanyaman, @duanhanbing, @fveselov

.github/CODEOWNERS:

* @pvchupin

# Use runtime team as the umbrella for most of the tests
/SYCL/ @intel/llvm-reviewers-runtime

# SYCL sub-directory matchers are grouped by code owner first, followed by
# alphabetical order within the group. Please, keep this ordering.

# Atomics
SYCL/AtomicRef @dm-vodopyanov @AlexeySachkov

# SYCL RT specific tests
SYCL/Assert @intel/llvm-reviewers-runtime
SYCL/Basic @intel/llvm-reviewers-runtime
SYCL/Config @intel/llvm-reviewers-runtime
SYCL/DiscardEvents @intel/llvm-reviewers-runtime
SYCL/FilterSelector @intel/llvm-reviewers-runtime
SYCL/HostInteropTask @intel/llvm-reviewers-runtime
SYCL/InorderQueue @intel/llvm-reviewers-runtime
SYCL/KernelAndProgram @intel/llvm-reviewers-runtime
SYCL/KernelParams @intel/llvm-reviewers-runtime
SYCL/Scheduler @intel/llvm-reviewers-runtime
SYCL/Tracing  @intel/llvm-reviewers-runtime

# Device library
SYCL/DeviceLib @vzakhari
SYCL/DeviceLib/ITTAnnotations @vzakhari @MrSidims

# Explicit SIMD
config_sycl/esimd* @kychendev @kbobrovs @v-vklochkov
SYCL/ESIMD @intel/dpcpp-esimd-reviewers

# Functor
SYCL/Functor @AlexeySachkov

# Group algorithms
SYCL/GroupAlgorithm @Pennycook @intel/llvm-reviewers-runtime
SYCL/SubGroup @Pennycook @intel/llvm-reviewers-runtime
SYCL/SubGroupMask @Pennycook @intel/llvm-reviewers-runtime
SYCL/GroupLocalMemory @Pennycook @intel/llvm-reviewers-runtime

# Plugin interface for Level Zero
/SYCL/Plugin/*level-zero* @intel/dpcpp-l0-pi-reviewers
/SYCL/Plugin/*level_zero* @intel/dpcpp-l0-pi-reviewers

# Printf
SYCL/Printf @intel/dpcpp-tools-reviewers

# Reduction algorithms
SYCL/Reduction @v-klochkov

# Image sampler
SYCL/Sampler @cperkinsintel

# Separate compilation
SYCL/SeparateCompile @intel/dpcpp-tools-reviewers

# Specialization constant
SYCL/SpecConstants @intel/dpcpp-tools-reviewers

# Unified Shared Memory (USM)
SYCL/USM @jbrodman @sergey-semenov

# Stream
SYCL/Basic/stream @againull

# Test scripts
*.pl @myler @wanyaman @duanhanbing
*.list @myler @wanyaman @duanhanbing

# tc files
*.xml @myler @wanyaman @duanhanbing
config_sycl/* @myler @wanyaman @duanhanbing

# Deprecated features
SYCL/DeprecatedFeatures @intel/llvm-reviewers-runtime

# ESIMD embargo
SYCL_ESIMD_EMBARGO @kychendev @kbobrovs @v-vklochkov
config_sycl_esimd_embargo @kychendev @kbobrovs @v-vklochkov
SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/lsc @fveselov

# named barriers
SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/named_barriers @fveselov

# XPTI and XPTI Framework
SYCL/XPTI @intel/llvm-reviewers-runtime

# BFloat16 conversion
/SYCL/BFloat16/ @intel/dpcpp-tools-reviewers

# Compiler tests
/SYCL/AOT/ @intel/dpcpp-tools-reviewers
/SYCL/DeviceCodeSplit/ @intel/dpcpp-tools-reviewers
/SYCL/SeparateCompile/ @intel/dpcpp-tools-reviewers

[SYCL][CUDA] Re-enable host-task-dependency test for CUDA (#1064)
  SYCL/Basic/host-task-dependency.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL][CUDA] Enable Basic Image tests (#1131)
  SYCL/Basic/image/image_array.cpp
  SYCL/Basic/image/image_sample.cpp
  SYCL/Regression/image_access.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Support query of free device memory extension (#1162)
  SYCL/Plugin/level_zero_device_free_mem.cpp
Owners: @intel/dpcpp-l0-pi-reviewers

Update llvm_test_suite to 911682735: [C/C++] Auto pulldown and update tc files on 20220916 for xmain-cand branch
  llvm_test_suite.xml
Owners: @myler, @wanyaman, @duanhanbing

resolve conflicts
  SYCL/DeprecatedFeatures/program-merge-options-env.cpp
  SYCL/DeviceLib/built-ins/vector_math.cpp
  SYCL/DeviceLib/built-ins/vector_relational.cpp
Owners: @intel/llvm-reviewers-runtime, @vzakhari

fix newline charactor in variable issue
  llvm_test_suite_sycl.pl
Owners: @myler, @wanyaman, @duanhanbing

Run ESIMD test on gpu device
  SYCL/ESIMD/esimd_verify.cpp
  SYCL/ESIMD/unary_op_const_simd.cpp
Owners: @intel/dpcpp-esimd-reviewers

[SYCL] Fix events caching test (#1138)
  SYCL/Plugin/level_zero_events_caching.cpp
Owners: @intel/dpcpp-l0-pi-reviewers

Update llvm_test_suite_sycl to 9f37a0278: Auto pulldown and update tc files on 20220923 for xmain branch
  config_sycl/deprecatedfeatures_program_merge_options_env.info
  config_sycl/deprecatedfeatures_program_merge_options_env.xml
  llvm_test_suite_sycl.xml
  llvm_test_suite_sycl_valgrind.xml
Owners: @myler, @wanyaman, @duanhanbing

[SYCL] Cherry-pick SYCL library name changes (#1224)
  SYCL/lit.cfg.py
Owners: @intel/llvm-reviewers-runtime

[SYCL] Disable device_global test compilation without device_image_scope (#1267)
  SYCL/DeviceGlobal/device_global_arrow.cpp
  SYCL/DeviceGlobal/device_global_device_only.cpp
  SYCL/DeviceGlobal/device_global_operator_passthrough.cpp
  SYCL/DeviceGlobal/device_global_subscript.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL][ESIMD] Lsc block load/store predicate test (#1194)
  SYCL/ESIMD/lsc/lsc_predicate.cpp
  SYCL/ESIMD/lsc/lsc_predicate_stateless.cpp
Owners: @intel/dpcpp-esimd-reviewers

[ESIMD] Add LIT tests for new non-experimental DPAS API (#1233)
  SYCL/ESIMD/dpas/dpas_common.hpp
  SYCL/ESIMD/dpas/dpas_fp16.cpp
  SYCL/ESIMD/dpas/dpas_int.cpp
  llvm_test_suite.xml
Owners: @intel/dpcpp-esimd-reviewers, @myler, @wanyaman, @duanhanbing

Update llvm_test_suite_sycl to 2e3845e0e: Auto pulldown and update tc files on 20220928 for xmain branch
  config_sycl/esimd_dpas_dpas_fp16.info
  config_sycl/esimd_dpas_dpas_fp16.xml
  config_sycl/esimd_dpas_dpas_int.info
  config_sycl/esimd_dpas_dpas_int.xml
  llvm_test_suite_sycl.xml
  llvm_test_suite_sycl_esimd.xml
  llvm_test_suite_sycl_valgrind.xml
Owners: @myler, @wanyaman, @duanhanbing

[SYCL][ESIMD]Add tests for lsc_block_load supporting 8/16 bit data (#1249)
  SYCL/ESIMD/lsc/Inputs/lsc_surf_load.hpp
  SYCL/ESIMD/lsc/Inputs/lsc_surf_store.hpp
  SYCL/ESIMD/lsc/Inputs/lsc_usm_load.hpp
  SYCL/ESIMD/lsc/Inputs/lsc_usm_store.hpp
  SYCL/ESIMD/lsc/lsc_surf_load_u8_u16.cpp
  SYCL/ESIMD/lsc/lsc_surf_store_u8_u16.cpp
  SYCL/ESIMD/lsc/lsc_usm_load_u8_u16.cpp
  SYCL/ESIMD/lsc/lsc_usm_store_u8_u16.cpp
Owners: @intel/dpcpp-esimd-reviewers

Set the feature macro to use the non-use matrix API
  SYCL/Matrix/PVC/joint_matrix_bf16_pvc.cpp
  SYCL/Matrix/PVC/joint_matrix_half_pvc.cpp
  SYCL/Matrix/PVC/joint_matrix_ss_int8_pvc.cpp
  SYCL/Matrix/PVC/joint_matrix_su_int8_pvc.cpp
  SYCL/Matrix/PVC/joint_matrix_us_int8_pvc.cpp
  SYCL/Matrix/PVC/joint_matrix_uu_int8_pvc.cpp
  SYCL/Matrix/element_wise_all_ops_bf16.cpp
  SYCL/Matrix/element_wise_all_ops_half.cpp
  SYCL/Matrix/element_wise_all_ops_int8.cpp
  SYCL/Matrix/element_wise_all_ops_int8_packed.cpp
  SYCL/Matrix/element_wise_irreg_sum_rows.cpp
  SYCL/Matrix/element_wise_ops.cpp
  SYCL/Matrix/elemwise_irreg_size_ops_bf16.cpp
  SYCL/Matrix/joint_matrix_bf16.cpp
  SYCL/Matrix/joint_matrix_bfloat16.cpp
  SYCL/Matrix/joint_matrix_half.cpp
  SYCL/Matrix/joint_matrix_int8_vnni.cpp
  SYCL/Matrix/joint_matrix_query_default.cpp
  SYCL/Matrix/joint_matrix_ss_int8.cpp
  SYCL/Matrix/joint_matrix_su_int8.cpp
  SYCL/Matrix/joint_matrix_us_int8.cpp
  SYCL/Matrix/joint_matrix_uu_int8.cpp
Owners: @intel/llvm-reviewers-runtime

Remove 2 tests from llvm_test_suite.xml added there by mistake (#1245)
  llvm_test_suite.xml
Owners: @myler, @wanyaman, @duanhanbing

[ESIMD] Add tests for ESIMDOptimizeVecArgCallConv and opaque pointer support.
  SYCL/ESIMD/vadd_usm_opqptr.cpp
  SYCL/ESIMD/vec_arg_call_conv_ext.cpp
  SYCL/ESIMD/vec_arg_call_conv_smoke.cpp
  config_sycl/esimd_vadd_usm_opqptr.info
  config_sycl/esimd_vadd_usm_opqptr.xml
  config_sycl/esimd_vec_arg_call_conv_ext.info
  config_sycl/esimd_vec_arg_call_conv_ext.xml
  config_sycl/esimd_vec_arg_call_conv_smoke.info
  config_sycl/esimd_vec_arg_call_conv_smoke.xml
  llvm_test_suite_sycl.xml
  llvm_test_suite_sycl_esimd.xml
  llvm_test_suite_sycl_valgrind.xml
Owners: @intel/dpcpp-esimd-reviewers, @myler, @wanyaman, @duanhanbing

add missed test xml.
  config_sycl/esimd_lsc_lsc_predicate.info
  config_sycl/esimd_lsc_lsc_predicate.xml
  config_sycl/esimd_lsc_lsc_predicate_stateless.info
  config_sycl/esimd_lsc_lsc_predicate_stateless.xml
  config_sycl/esimd_lsc_lsc_surf_load_u8_u16.info
  config_sycl/esimd_lsc_lsc_surf_load_u8_u16.xml
  config_sycl/esimd_lsc_lsc_surf_store_u8_u16.info
  config_sycl/esimd_lsc_lsc_surf_store_u8_u16.xml
  config_sycl/esimd_lsc_lsc_usm_load_u8_u16.info
  config_sycl/esimd_lsc_lsc_usm_load_u8_u16.xml
  config_sycl/esimd_lsc_lsc_usm_store_u8_u16.info
  config_sycl/esimd_lsc_lsc_usm_store_u8_u16.xml
  llvm_test_suite_sycl.xml
  llvm_test_suite_sycl_esimd.xml
  llvm_test_suite_sycl_valgrind.xml
Owners: @myler, @wanyaman, @duanhanbing

[ESIMD] Guard use of double with 'if (dev.has(aspect::fp64))' for TGLLP.
  SYCL/ESIMD/api/bin_and_cmp_ops_heavy.cpp
  SYCL/ESIMD/api/replicate_smoke.cpp
Owners: @intel/dpcpp-esimd-reviewers

[SYCL][Reduction] Prefer fast_reduce to fast_atomics (#1294)
  SYCL/XPTI/kernel/content.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Fix gcc-style %sycl_options on Windows (#1306) (#1270)
  SYCL/lit.cfg.py
Owners: @intel/llvm-reviewers-runtime

[ESIMD] Remove invalid rules in some of test .xmls
  config_sycl/esimd_api_bin_and_cmp_ops_heavy.xml
  config_sycl/esimd_api_replicate_smoke.xml
  config_sycl/esimd_api_simd_copy_to_from.xml
Owners: @myler, @wanyaman, @duanhanbing

[SYCL] Remove host run and dependencies from SYCL/Scheduler tests (#1218)
  SYCL/Scheduler/BasicSchedulerTests.cpp
  SYCL/Scheduler/CommandCleanupThreadSafety.cpp
  SYCL/Scheduler/DataMovement.cpp
  SYCL/Scheduler/InOrderQueueDeps.cpp
  SYCL/Scheduler/MemObjRemapping.cpp
  SYCL/Scheduler/MultipleDevices.cpp
  SYCL/Scheduler/ReleaseResourcesTest.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Migrate remaining device-dependent in-tree LIT tests (#1195)
  SYCL/Basic/built-ins.cpp
  SYCL/Basic/context.cpp
  SYCL/Basic/device.cpp
  SYCL/Basic/event_async_exception.cpp
  SYCL/Basic/offset-accessor-get_pointer.cpp
  SYCL/Reduction/reduction_ctor.cpp
  SYCL/Regression/check_vector_of_opencl_event.cpp
  SYCL/USM/usm_alloc_utility.cpp
  SYCL/USM/usm_allocator.cpp
Owners: @intel/llvm-reviewers-runtime, @v-klochkov, @jbrodman, @sergey-semenov

[SYCL] Remove host run and dependencies from SYCL/Config tests (#1200)
  SYCL/Config/select_device.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Remove host run and dependencies from SYCL/KernelParams tests (#1222)
  SYCL/KernelParams/array-kernel-param-nested-run.cpp
  SYCL/KernelParams/array-kernel-param-run.cpp
  SYCL/KernelParams/non-standard-layout.cpp
  SYCL/KernelParams/struct_kernel_param.cpp
  SYCL/KernelParams/union_kernel_param.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Remove host run and dependencies from SYCL/HierPar tests (#1211)
  SYCL/HierPar/hier_par_basic.cpp
  SYCL/HierPar/hier_par_wgscope.cpp
  SYCL/HierPar/hier_par_wgscope_O0.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Remove host run and dependencies from SYCL/InvokeSimd tests (#1213)
  SYCL/InvokeSimd/invoke_simd_conv.cpp
  SYCL/InvokeSimd/invoke_simd_smoke.cpp
Owners: @intel/llvm-reviewers-runtime

Temporary disable hanging device_has_aspect L0 test (#1234)
  SYCL/AtomicRef/device_has_aspect_atomic64_level_zero.cpp
Owners: @dm-vodopyanov, @AlexeySachkov

[SYCL] Remove External/RSBench host test case (#1207)
  SYCL/External/RSBench/host.test
Owners: @intel/llvm-reviewers-runtime

Remove incorrect XFAIL (#1229)
  SYCL/AtomicRef/device_has_aspect_atomic64_cuda_and_hip.cpp
Owners: @dm-vodopyanov, @AlexeySachkov

[SYCL][CUDA] Fix compile command in HostAccDestruction.cpp (#1085)
  SYCL/Scheduler/HostAccDestruction.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Remove host run and dependencies from SYCL/USM tests (#1221)
  SYCL/USM/alloc_functions.cpp
  SYCL/USM/allocator_container.cpp
  SYCL/USM/allocator_equal.cpp
  SYCL/USM/allocator_rebind.cpp
  SYCL/USM/allocator_shared.cpp
  SYCL/USM/allocator_vector.cpp
  SYCL/USM/badmalloc.cpp
  SYCL/USM/buffer_location.cpp
  SYCL/USM/copy.cpp
  SYCL/USM/dep_events.cpp
  SYCL/USM/depends_on.cpp
  SYCL/USM/dmem_varied.cpp
  SYCL/USM/dmemll.cpp
  SYCL/USM/dmemllaligned.cpp
  SYCL/USM/fill.cpp
  SYCL/USM/free_during_kernel_execution.cpp
  SYCL/USM/hmemll.cpp
  SYCL/USM/hmemllaligned.cpp
  SYCL/USM/math.cpp
  SYCL/USM/memadvise.cpp
  SYCL/USM/memadvise_cuda.cpp
  SYCL/USM/memcpy.cpp
  SYCL/USM/memset.cpp
  SYCL/USM/mixed.cpp
  SYCL/USM/mixed2.cpp
  SYCL/USM/mixed2template.cpp
  SYCL/USM/mixed_queue.cpp
  SYCL/USM/pfor_flatten.cpp
  SYCL/USM/pfor_flatten_range_shortcut.cpp
  SYCL/USM/pointer_query.cpp
  SYCL/USM/prefetch.cpp
  SYCL/USM/queue_wait.cpp
  SYCL/USM/smem_concurrent.cpp
  SYCL/USM/smem_varied.cpp
  SYCL/USM/smemll.cpp
  SYCL/USM/smemllaligned.cpp
  SYCL/USM/usm_pooling.cpp
Owners: @jbrodman, @sergey-semenov

[HIP][SYCL] Remove not relevant XFAIL on HIP AtomicRef (#1236)
  SYCL/AtomicRef/add_local.cpp
  SYCL/AtomicRef/min_local.cpp
  SYCL/AtomicRef/sub_local.cpp
Owners: @dm-vodopyanov, @AlexeySachkov

[SYCL] Remove host run and dependencies from SYCL/DeprecatedFeatures tests (#1201)
  SYCL/DeprecatedFeatures/deprecated.cpp
  SYCL/DeprecatedFeatures/kernel_interop.cpp
  SYCL/DeprecatedFeatures/platform.cpp
  SYCL/DeprecatedFeatures/queue_old_interop.cpp
  SYCL/DeprecatedFeatures/set_arg_interop.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Move host-compiler tests from in-tree LIT (#1240)
  SYCL/Regression/fsycl-host-compiler-win.cpp
  SYCL/Regression/fsycl-host-compiler.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Remove host run and dependencies from SYCL/Regression tests (#1223)
  SYCL/Regression/atomic_load.cpp
  SYCL/Regression/cache_test.cpp
  SYCL/Regression/complex_global_object.cpp
  SYCL/Regression/device_num.cpp
  SYCL/Regression/event_destruction.cpp
  SYCL/Regression/fp16-with-unnamed-lambda.cpp
  SYCL/Regression/get_subgroup_sizes.cpp
  SYCL/Regression/global_queue.cpp
  SYCL/Regression/group.cpp
  SYCL/Regression/image_access.cpp
  SYCL/Regression/implicit_atomic_conversion.cpp
  SYCL/Regression/kernel_name_class.cpp
  SYCL/Regression/kernel_unnamed.cpp
  SYCL/Regression/local-arg-align.cpp
  SYCL/Regression/msvc_crt.cpp
  SYCL/Regression/nontrivial_device_copyable_value.cpp
  SYCL/Regression/private_array_init_test.cpp
  SYCL/Regression/same_unnamed_kernels.cpp
  SYCL/Regression/static-buffer-dtor.cpp
  SYCL/Regression/unoptimized_stream.cpp
  SYCL/Regression/usm_malloc_shared.cpp
  SYCL/Regression/zero_size_local_accessor.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Modify test for changing namespace for intel device info extensions (#1178)
  SYCL/ESIMD/api/replicate_smoke.cpp
Owners: @intel/dpcpp-esimd-reviewers

Update SubGroup tests to account for optionality of double (#1241)
  SYCL/SubGroup/barrier.cpp
  SYCL/SubGroup/broadcast_fp64.cpp
  SYCL/SubGroup/load_store.cpp
  SYCL/SubGroup/shuffle_fp64.cpp
Owners: @Pennycook, @intel/llvm-reviewers-runtime
