Repository myler/llvm-test-suite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pvchupin, @intel/llvm-reviewers-runtime, @dm-vodopyanov, @AlexeySachkov, @vzakhari, @MrSidims, @kychendev, @kbobrovs, @v-vklochkov, @intel/dpcpp-esimd-reviewers, @Pennycook, @intel/dpcpp-l0-pi-reviewers, @intel/dpcpp-tools-reviewers, @v-klochkov, @cperkinsintel, @jbrodman, @sergey-semenov, @againull, @myler, @wanyaman, @duanhanbing, @fveselov

.github/CODEOWNERS:

* @pvchupin

# Use runtime team as the umbrella for most of the tests
/SYCL/ @intel/llvm-reviewers-runtime

# SYCL sub-directory matchers are grouped by code owner first, followed by
# alphabetical order within the group. Please, keep this ordering.

# Atomics
SYCL/AtomicRef @dm-vodopyanov @AlexeySachkov

# SYCL RT specific tests
SYCL/Assert @intel/llvm-reviewers-runtime
SYCL/Basic @intel/llvm-reviewers-runtime
SYCL/Config @intel/llvm-reviewers-runtime
SYCL/DiscardEvents @intel/llvm-reviewers-runtime
SYCL/FilterSelector @intel/llvm-reviewers-runtime
SYCL/HostInteropTask @intel/llvm-reviewers-runtime
SYCL/InorderQueue @intel/llvm-reviewers-runtime
SYCL/KernelAndProgram @intel/llvm-reviewers-runtime
SYCL/KernelParams @intel/llvm-reviewers-runtime
SYCL/Scheduler @intel/llvm-reviewers-runtime
SYCL/Tracing  @intel/llvm-reviewers-runtime

# Device library
SYCL/DeviceLib @vzakhari
SYCL/DeviceLib/ITTAnnotations @vzakhari @MrSidims

# Explicit SIMD
config_sycl/esimd* @kychendev @kbobrovs @v-vklochkov
SYCL/ESIMD @intel/dpcpp-esimd-reviewers

# Functor
SYCL/Functor @AlexeySachkov

# Group algorithms
SYCL/GroupAlgorithm @Pennycook @intel/llvm-reviewers-runtime
SYCL/SubGroup @Pennycook @intel/llvm-reviewers-runtime
SYCL/SubGroupMask @Pennycook @intel/llvm-reviewers-runtime
SYCL/GroupLocalMemory @Pennycook @intel/llvm-reviewers-runtime

# Plugin interface for Level Zero
/SYCL/Plugin/*level-zero* @intel/dpcpp-l0-pi-reviewers
/SYCL/Plugin/*level_zero* @intel/dpcpp-l0-pi-reviewers

# Printf
SYCL/Printf @intel/dpcpp-tools-reviewers

# Reduction algorithms
SYCL/Reduction @v-klochkov

# Image sampler
SYCL/Sampler @cperkinsintel

# Separate compilation
SYCL/SeparateCompile @intel/dpcpp-tools-reviewers

# Specialization constant
SYCL/SpecConstants @intel/dpcpp-tools-reviewers

# Unified Shared Memory (USM)
SYCL/USM @jbrodman @sergey-semenov

# Stream
SYCL/Basic/stream @againull

# Test scripts
*.pl @myler @wanyaman @duanhanbing
*.list @myler @wanyaman @duanhanbing

# tc files
*.xml @myler @wanyaman @duanhanbing
config_sycl/* @myler @wanyaman @duanhanbing

# Deprecated features
SYCL/DeprecatedFeatures @intel/llvm-reviewers-runtime

# ESIMD embargo
SYCL_ESIMD_EMBARGO @kychendev @kbobrovs @v-vklochkov
config_sycl_esimd_embargo @kychendev @kbobrovs @v-vklochkov
SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/lsc @fveselov

# named barriers
SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/named_barriers @fveselov

# XPTI and XPTI Framework
SYCL/XPTI @intel/llvm-reviewers-runtime

# BFloat16 conversion
/SYCL/BFloat16/ @intel/dpcpp-tools-reviewers

# Compiler tests
/SYCL/AOT/ @intel/dpcpp-tools-reviewers
/SYCL/DeviceCodeSplit/ @intel/dpcpp-tools-reviewers
/SYCL/SeparateCompile/ @intel/dpcpp-tools-reviewers

CMPLRTST-16192: add suite generator for esimd_embargo suite.
  suite_generator_sycl_esimd_embargo.pl
Owners: @myler, @wanyaman, @duanhanbing

CMPLRTST-16192: update test driver to support compile llvm_test_suite_esimd_embargo only
  config_sycl_esimd_embargo/esimd_embargo_named_barriers_named_barrier_1.info
  config_sycl_esimd_embargo/esimd_embargo_named_barriers_named_barrier_2.info
  config_sycl_esimd_embargo/esimd_embargo_named_barriers_named_barrier_3.info
  config_sycl_esimd_embargo/esimd_embargo_named_barriers_named_barrier_4.info
  config_sycl_esimd_embargo/esimd_embargo_named_barriers_named_barrier_5.info
  config_sycl_esimd_embargo/esimd_embargo_named_barriers_named_barrier_6.info
  config_sycl_esimd_embargo/esimd_embargo_named_barriers_nb_exec_in_order.info
  config_sycl_esimd_embargo/esimd_embargo_named_barriers_nb_exec_in_order_branched.info
  config_sycl_esimd_embargo/esimd_embargo_named_barriers_nb_multiple_wg.info
  config_sycl_esimd_embargo/esimd_embargo_named_barriers_nb_single_barrier_in_loop.info
  config_sycl_esimd_embargo/esimd_embargo_named_barriers_nb_single_wg.info
  config_sycl_esimd_embargo/esimd_embargo_named_barriers_nb_various_num_of_barriers_in_loop.info
  llvm_test_suite_esimd_embargo.xml
  llvm_test_suite_sycl.pl
Owners: @kychendev, @kbobrovs, @v-vklochkov, @myler, @wanyaman, @duanhanbing

accurate failure type if compile only
  llvm_test_suite_sycl.pl
Owners: @myler, @wanyaman, @duanhanbing

[SYCL] Fix CMPLRTST-16469: We should add "-Dcompatibility_testing=1" flag only when it is compatibility_llvm_test_suite_sycl suite.
  llvm_test_suite_sycl.pl
Owners: @myler, @wanyaman, @duanhanbing

Add esimd_api_functional_functions_functions_select_2d_core and esimd_api_functional_functions_functions_select_2d_fp_extra into the double test list
  config_sycl/esimd_api_functional_functions_functions_select_2d_core.xml
  config_sycl/esimd_api_functional_functions_functions_select_2d_fp_extra.xml
  double_test.list
  llvm_test_suite_sycl.xml
Owners: @myler, @wanyaman, @duanhanbing

CMPLRTOOLS-26492: enable ESIMD_EMULATOR for optset opt_use_esimd_emu
  llvm_test_suite_sycl.pl
Owners: @myler, @wanyaman, @duanhanbing

[SYCL] Add queue::wait XPTI instrumentation test case (#996)
  SYCL/XPTI/Inputs/buffer_info_collector.cpp
  SYCL/XPTI/kernel/basic.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Temporary disable undefined-symbol test (#1007)
  SYCL/KernelAndProgram/undefined-symbol.cpp
Owners: @intel/llvm-reviewers-runtime

[ESIMD] Removed XFAIL as simd_view-select_2d_int.cpp started passing (#1008)
  SYCL/ESIMD/api/simd_view_select_2d_int.cpp
Owners: @intel/dpcpp-esimd-reviewers

add gpu-intel-dg2 support to available_features. (#990)
  SYCL/README.md
  SYCL/lit.cfg.py
Owners: @intel/llvm-reviewers-runtime

[ESIMD] Split the LIT test dgetrf.cpp to 2 tests to improve test CI time (#1003)
  SYCL/ESIMD/regression/Inputs/dgetrf.hpp
  SYCL/ESIMD/regression/dgetrf_ref.cpp
Owners: @intel/dpcpp-esimd-reviewers

[ESIMD] Split the test simd_view_select_2d.cpp to 2 tests to reduce CI time (#1004)
  SYCL/ESIMD/api/simd_view_select_2d.hpp
  SYCL/ESIMD/api/simd_view_select_2d_fp.cpp
  SYCL/ESIMD/api/simd_view_select_2d_int.cpp
Owners: @intel/dpcpp-esimd-reviewers

[SYCL] [FPGA] Update latency control E2E tests (#982)
  SYCL/Basic/fpga_tests/fpga_latency_control_lsu.cpp
  SYCL/Basic/fpga_tests/fpga_latency_control_pipe.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Add regression test for 0-size local accessors (#1001)
  SYCL/Regression/zero_size_local_accessor.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Add tests for get_native(buffer) for OpenCL and CUDA backends (#945)
  SYCL/HostInteropTask/interop-task.cpp
  SYCL/Plugin/interop-buffer-cuda.cpp
  SYCL/Plugin/interop-opencl.cpp
Owners: @intel/llvm-reviewers-runtime

Update llvm_test_suite_sycl to 7418fb6a5: Auto pulldown and update tc files on 20220505 for xmain-cand branch
  config_sycl/esimd_api_simd_view_select_2d.info
  config_sycl/esimd_api_simd_view_select_2d.xml
  config_sycl/esimd_api_simd_view_select_2d_fp.info
  config_sycl/esimd_api_simd_view_select_2d_int.info
  config_sycl/esimd_regression_dgetrf_ref.info
  config_sycl/plugin_interop_buffer_cuda.info
  config_sycl/regression_zero_size_local_accessor.info
  llvm_test_suite_sycl.xml
  llvm_test_suite_sycl_esimd.xml
  llvm_test_suite_sycl_valgrind.xml
Owners: @myler, @wanyaman, @duanhanbing

CMPLRTST-16470:enlarge test timelimit for llvm_test_suite
  timelimit.xml
Owners: @myler, @wanyaman, @duanhanbing

Revert "Revert "[SYCL] Enable parallel indexers for AMD, after adding global offset (#934)" (#940)" (#941)
  SYCL/Basic/parallel_for_indexers.cpp
Owners: @intel/llvm-reviewers-runtime

Update clang-offload-bundler usage (#1011)
  SYCL/SeparateCompile/test.cpp
Owners: @intel/dpcpp-tools-reviewers

[SYCL][ESIMD] Update tests after API changes (#974)
  SYCL/ESIMD/api/slm_gather_scatter.cpp
  SYCL/ESIMD/api/slm_gather_scatter_heavy.cpp
  SYCL/ESIMD/api/slm_gather_scatter_rgba.cpp
  SYCL/ESIMD/histogram_256_slm.cpp
  SYCL/ESIMD/histogram_256_slm_spec_2020.cpp
  SYCL/ESIMD/lsc/lsc_slm.cpp
  SYCL/ESIMD/slm_barrier.cpp
  SYCL/ESIMD/slm_split_barrier.cpp
Owners: @intel/dpcpp-esimd-reviewers

[SYCL] Now that GPU uplift is done, this test should pass on both CI systems (#1015)
  SYCL/KernelAndProgram/undefined-symbol.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Add tests for span reductions (#1009)
  SYCL/Reduction/reduction_dynamic_span.cpp
  SYCL/Reduction/reduction_span.cpp
  SYCL/Reduction/reduction_span_pack.cpp
Owners: @v-klochkov

[SYCL] Add tests for SYCL2020 queue::parallel_for() shortcuts (#405)
  SYCL/Reduction/reduction_nd_N_queue_shortcut.cpp
  SYCL/Reduction/reduction_nd_queue_shortcut.cpp
  SYCL/Reduction/reduction_queue_parallel_for.cpp
  SYCL/Reduction/reduction_range_queue_shortcut.cpp
Owners: @v-klochkov

[ESIMD] Add test cases for 32-bit accessor based gather/scatter (#1014)
  SYCL/ESIMD/accessor_gather_scatter.cpp
Owners: @intel/dpcpp-esimd-reviewers

[SYCL][Matrix] add static cast to the half test to correct compilation errors (#1013)
  SYCL/Matrix/element_wise_all_ops_half.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Enable fallback assertion test for OpenCL backend (#1026)
  SYCL/Assert/assert_in_simultaneously_multiple_tus.cpp
Owners: @intel/llvm-reviewers-runtime

[ESIMD] Add test for accessor based gather/scatter_rgba (#1022)
  SYCL/ESIMD/PrefixSum.cpp
  SYCL/ESIMD/Prefix_Local_sum2.cpp
  SYCL/ESIMD/Prefix_Local_sum3.cpp
  SYCL/ESIMD/acc_gather_scatter_rgba.cpp
  SYCL/ESIMD/api/esimd_rgba_smoke.cpp
Owners: @intel/dpcpp-esimd-reviewers

[SYCL] Update tests for half operator (#1012)
  SYCL/ESIMD/ext_math.cpp
  SYCL/SubGroup/helper.hpp
Owners: @intel/dpcpp-esimd-reviewers, @Pennycook, @intel/llvm-reviewers-runtime

Update tests in preparation for default device instrumentation (#1017)
  SYCL/Config/kernel_from_file.cpp
  SYCL/SeparateCompile/test.cpp
  SYCL/lit.cfg.py
Owners: @intel/llvm-reviewers-runtime, @intel/dpcpp-tools-reviewers

[SYCL][L0] Test for pooled small allocations. (#980)
  SYCL/Plugin/interop-level-zero-buffer-ownership.cpp
  SYCL/USM/usm_pooling.cpp
Owners: @intel/dpcpp-l0-pi-reviewers, @jbrodman, @sergey-semenov

[SYCL][Matrix] add a new joint matrix test that uses SYCL bfloat16 (#1005)
  SYCL/Matrix/joint_matrix_bfloat16.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Expand reduction_span XFAIL to all hip backend configs (#1020)
  SYCL/Reduction/reduction_span.cpp
Owners: @v-klochkov

[SYCL][CUDA] Add tests for asynchronous barrier (#737)
  SYCL/GroupAlgorithm/barrier.cpp
Owners: @Pennycook, @intel/llvm-reviewers-runtime

[ESIMD] Fix rgba smoke test to honor write mask restrictions. (#1023)
  SYCL/ESIMD/api/esimd_rgba_smoke.cpp
Owners: @intel/dpcpp-esimd-reviewers

enable unoptimized_stream.cpp for CUDA backend (#1024)
  SYCL/Regression/unoptimized_stream.cpp
Owners: @intel/llvm-reviewers-runtime

Update llvm_test_suite_sycl to dc21ccefb: Auto pulldown and update tc files on 20220519 for xmain-cand branch
  config_sycl/esimd_acc_gather_scatter_rgba.info
  config_sycl/groupalgorithm_barrier.info
  config_sycl/matrix_joint_matrix_bfloat16.info
  config_sycl/reduction_reduction_dynamic_span.info
  config_sycl/reduction_reduction_nd_n_queue_shortcut.info
  config_sycl/reduction_reduction_nd_queue_shortcut.info
  config_sycl/reduction_reduction_queue_parallel_for.info
  config_sycl/reduction_reduction_range_queue_shortcut.info
  config_sycl/reduction_reduction_span.info
  config_sycl/reduction_reduction_span_pack.info
  llvm_test_suite_sycl.xml
  llvm_test_suite_sycl_esimd.xml
  llvm_test_suite_sycl_valgrind.xml
Owners: @myler, @wanyaman, @duanhanbing

CMPLRTST-16617: skip double type tests on GEN12
  config_sycl/deprecatedfeatures_esimd_spec_const_double.xml
  config_sycl/esimd_api_simd_view_select_2d_fp.xml
  config_sycl/esimd_regression_dgetrf_ref.xml
  double_test.list
  llvm_test_suite_sycl.xml
  llvm_test_suite_sycl_esimd.xml
  llvm_test_suite_sycl_valgrind.xml
Owners: @myler, @wanyaman, @duanhanbing

fix #938: update unrelated file: double_test.list
  double_test.list
Owners: @myler, @wanyaman, @duanhanbing

[ESIMD] Delete the old versions of LIT tests for LSC SLM load/stores
  SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/lsc/Inputs/lsc_slm_load.hpp
  SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/lsc/Inputs/lsc_slm_store.hpp
  SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/lsc/lsc_slm_load_u16u32.cpp
  SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/lsc/lsc_slm_load_u32.cpp
  SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/lsc/lsc_slm_load_u64.cpp
  SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/lsc/lsc_slm_load_u8u32.cpp
  SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/lsc/lsc_slm_store_u16u32.cpp
  SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/lsc/lsc_slm_store_u32.cpp
  SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/lsc/lsc_slm_store_u64.cpp
  SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/lsc/lsc_slm_store_u8u32.cpp
Owners: @fveselov

[ESIMD] Removed lsc_block_store_u64.cpp test forgotten here
  SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/lsc/Inputs/common.hpp
  SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/lsc/Inputs/lsc_block_store.hpp
  SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/lsc/lsc_block_store_u64.cpp
Owners: @fveselov
