Repository myler/llvm-test-suite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pvchupin, @intel/llvm-reviewers-runtime, @dm-vodopyanov, @AlexeySachkov, @vzakhari, @MrSidims, @kychendev, @kbobrovs, @v-vklochkov, @intel/dpcpp-esimd-reviewers, @Pennycook, @intel/dpcpp-l0-pi-reviewers, @intel/dpcpp-tools-reviewers, @v-klochkov, @cperkinsintel, @jbrodman, @sergey-semenov, @againull, @myler, @wanyaman, @duanhanbing, @fveselov

CMPLRTOOLS-26045: workaround rmtree permission issue on Windows
  llvm_test_suite_sycl.pl
Owners: @myler, @wanyaman, @duanhanbing

[SYCL][HIP] Mark select group algorithm tests as xfail for hip/amd (#1034)
  SYCL/GroupAlgorithm/SYCL2020/exclusive_scan.cpp
  SYCL/GroupAlgorithm/SYCL2020/inclusive_scan.cpp
  SYCL/GroupAlgorithm/SYCL2020/reduce.cpp
  SYCL/GroupAlgorithm/exclusive_scan.cpp
  SYCL/GroupAlgorithm/inclusive_scan.cpp
  SYCL/GroupAlgorithm/reduce.cpp
Owners: @Pennycook, @intel/llvm-reviewers-runtime

[SYCL] Temporarily disable SubGroup/attributes.cpp test for OpenCL CPU backend. (#1031)
  SYCL/SubGroup/attributes.cpp
Owners: @Pennycook, @intel/llvm-reviewers-runtime

[SYCL] Fix resource management in SYCL/Plugin/interop-level-zero.cpp (#1032)
  SYCL/Plugin/interop-level-zero.cpp
Owners: @intel/dpcpp-l0-pi-reviewers

[SYCL] Reenable GroupAlgorithm tests (#1021)
  SYCL/GroupAlgorithm/SYCL2020/exclusive_scan.cpp
  SYCL/GroupAlgorithm/SYCL2020/inclusive_scan.cpp
  SYCL/GroupAlgorithm/SYCL2020/reduce.cpp
  SYCL/GroupAlgorithm/exclusive_scan.cpp
  SYCL/GroupAlgorithm/exclusive_scan_over_group.cpp
  SYCL/GroupAlgorithm/exclusive_scan_sycl2020.cpp
  SYCL/GroupAlgorithm/inclusive_scan.cpp
  SYCL/GroupAlgorithm/inclusive_scan_sycl2020.cpp
  SYCL/GroupAlgorithm/reduce.cpp
  SYCL/GroupAlgorithm/reduce_sycl2020.cpp
Owners: @Pennycook, @intel/llvm-reviewers-runtime

[SYCL] Change online compiler test to build IL based on queue (#1028)
  SYCL/OnlineCompiler/online_compiler_L0.cpp
  SYCL/OnlineCompiler/online_compiler_OpenCL.cpp
  SYCL/OnlineCompiler/online_compiler_common.hpp
Owners: @intel/llvm-reviewers-runtime

Set object extension based on system and not driver used (#1030)
  SYCL/lit.cfg.py
Owners: @intel/llvm-reviewers-runtime

[SYCL][L0] Adds new L0 make_queue input member to interop test (#1025)
  SYCL/Plugin/interop-level-zero.cpp
Owners: @intel/dpcpp-l0-pi-reviewers

[SYCL] test needs to ensure partition_equally is supported before exercising (#1027)
  SYCL/Basic/partition_supported.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Add tests for atomic_ref memory orders (#900)
  SYCL/AtomicRef/atomic_memory_order_acq_rel.cpp
  SYCL/AtomicRef/atomic_memory_order_seq_cst.cpp
Owners: @dm-vodopyanov, @AlexeySachkov

Update llvm_test_suite_sycl to b7de9a11e: Auto pulldown and update tc files on 20220531 for xmain-cand branch
  config_sycl/atomicref_atomic_memory_order_seq_cst.info
  llvm_test_suite_sycl.xml
  llvm_test_suite_sycl_valgrind.xml
Owners: @myler, @wanyaman, @duanhanbing

CMPLRTST-15892: support translate gpu-intel-* to alloy gpu feature.
  suite_generator_sycl.pl
Owners: @myler, @wanyaman, @duanhanbing

CMPLRTST-16695: add -Wno-error=implicit-int to downgrade error to waring
  llvm_test_suite.xml
Owners: @myler, @wanyaman, @duanhanbing

Fix CMPLRTST-16712: Skip some image LIT tests on PVC because images are not supported by this device.
  llvm_test_suite_sycl.xml
Owners: @myler, @wanyaman, @duanhanbing

[ESIMD] Add more tests for LSC block_load/block_store/gather/scatter (#1037)
  SYCL/ESIMD/lsc/Inputs/lsc_slm_load.hpp
  SYCL/ESIMD/lsc/Inputs/lsc_slm_store.hpp
  SYCL/ESIMD/lsc/lsc_block_store_u64.cpp
  SYCL/ESIMD/lsc/lsc_slm_block_load.cpp
  SYCL/ESIMD/lsc/lsc_slm_block_store.cpp
  SYCL/ESIMD/lsc/lsc_slm_gather.cpp
  SYCL/ESIMD/lsc/lsc_slm_scatter.cpp
Owners: @intel/dpcpp-esimd-reviewers

Update llvm_test_suite_sycl to 61dab8348: Auto pulldown and update tc files on 20220604 for xmain-cand branch
  config_sycl/esimd_lsc_lsc_block_store_u64.info
  config_sycl/esimd_lsc_lsc_slm_block_load.info
  config_sycl/esimd_lsc_lsc_slm_block_store.info
  config_sycl/esimd_lsc_lsc_slm_gather.info
  config_sycl/esimd_lsc_lsc_slm_scatter.info
  llvm_test_suite_sycl.xml
  llvm_test_suite_sycl_esimd.xml
  llvm_test_suite_sycl_valgrind.xml
Owners: @myler, @wanyaman, @duanhanbing

split token string with and/or
  suite_generator_sycl.pl
Owners: @myler, @wanyaman, @duanhanbing

support more GPU features and sycl2020 features in test driver.
  llvm_test_suite_sycl.pl
Owners: @myler, @wanyaman, @duanhanbing

add double_test.list and suite_generator_sycl.pl to <suite>.xml to meet tmt verification rule.
  llvm_test_suite_sycl.xml
  llvm_test_suite_sycl_esimd.xml
  llvm_test_suite_sycl_valgrind.xml
  suite_generator_sycl.pl
Owners: @myler, @wanyaman, @duanhanbing

correct some gen device name
  llvm_test_suite_sycl.pl
Owners: @myler, @wanyaman, @duanhanbing

add GPU FAMILY to available features and specify ESIMD raw send tests to gpu-intel-gen9
  SYCL/ESIMD/histogram_raw_send.cpp
  SYCL/ESIMD/vadd_raw_send.cpp
  SYCL/README.md
  SYCL/lit.cfg.py
Owners: @intel/dpcpp-esimd-reviewers, @intel/llvm-reviewers-runtime

[SYCL][ESIMD][EMU] Half-type support (#1044)
  SYCL/ESIMD/api/simd_view_copy_move_assign.cpp
  SYCL/ESIMD/vadd_half.cpp
Owners: @intel/dpcpp-esimd-reviewers

[SYCL] Adds basic tests for buffer_allocator (#1039)
  SYCL/Basic/buffer/buffer_allocator.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Add a test for alignment of allocated USM memory (#1042)
  SYCL/USM/alloc_functions.cpp
Owners: @jbrodman, @sergey-semenov

[SYCL] Add a test with rebound usm_allocator (#1038)
  SYCL/USM/allocator_rebind.cpp
Owners: @jbrodman, @sergey-semenov

[SYCL] Set line buffering mode for stderr for some assert tests (#872)
  SYCL/Assert/assert_in_simultaneous_kernels.cpp
  SYCL/Assert/assert_in_simultaneous_kernels.hpp
  SYCL/Assert/assert_in_simultaneous_kernels_win.cpp
  SYCL/Assert/assert_in_simultaneously_multiple_tus.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Re-enable L0 batch test (#1035)
  SYCL/Plugin/level_zero_batch_event_status.cpp
Owners: @intel/dpcpp-l0-pi-reviewers

[SYCL] Reduce memory size to reduce test complexity and avoid flaky memory related issues (#1036)
  SYCL/Plugin/level_zero_batch_test_copy_with_compute.cpp
Owners: @intel/dpcpp-l0-pi-reviewers

Update llvm_test_suite_sycl to 8076cb5d3: Auto pulldown and update tc files on 20220610 for xmain-cand branch
  config_sycl/basic_buffer_buffer_allocator.info
  config_sycl/usm_alloc_functions.info
  config_sycl/usm_allocator_rebind.info
  llvm_test_suite_sycl.xml
  llvm_test_suite_sycl_valgrind.xml
Owners: @myler, @wanyaman, @duanhanbing

workaround for SYCL 2020 aspect-* change, still support GPU family and device availability gpu-intel-*
  suite_generator_sycl.pl
Owners: @myler, @wanyaman, @duanhanbing

remove redundent feature in REQUIRES for esimd raw_send tests.
  SYCL/ESIMD/histogram_raw_send.cpp
  SYCL/ESIMD/vadd_raw_send.cpp
Owners: @intel/dpcpp-esimd-reviewers

[SYCL][L0] test extensive copy/compute submissions from multiple threads
  SYCL/Regression/multi_thread_submission.cpp
  config_sycl/regression_multi_thread_submission.info
  llvm_test_suite_sycl.xml
  llvm_test_suite_sycl_valgrind.xml
Owners: @intel/llvm-reviewers-runtime, @myler, @wanyaman, @duanhanbing

Update SYCL/Regression/multi_thread_submission.cpp
  SYCL/Regression/multi_thread_submission.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Add more GPU options to available features (#1047)
  SYCL/ESIMD/histogram_raw_send.cpp
  SYCL/ESIMD/vadd_raw_send.cpp
  SYCL/README.md
  SYCL/lit.cfg.py
Owners: @intel/dpcpp-esimd-reviewers, @intel/llvm-reviewers-runtime

Add 'gpu-intel-ats' feature to internal repo since it is not yet publicly released.
  SYCL/lit.cfg.py
Owners: @intel/llvm-reviewers-runtime

[SYCL] Add more GPU options to available features (#1047)
  SYCL/ESIMD/histogram_raw_send.cpp
  SYCL/ESIMD/vadd_raw_send.cpp
  SYCL/README.md
  SYCL/lit.cfg.py
  llvm_test_suite_sycl.pl
Owners: @intel/dpcpp-esimd-reviewers, @intel/llvm-reviewers-runtime, @myler, @wanyaman, @duanhanbing

lit.cfg.py set test_exec_root and test_source_root to SYCL/ESIMD, switch to -t mode
  llvm_test_suite_sycl.pl
Owners: @myler, @wanyaman, @duanhanbing

skip unsupported tests on opt_use_esimd_emu
  llvm_test_suite_sycl.pl
Owners: @myler, @wanyaman, @duanhanbing

Update <test>.info and <suite>.xml for llvm-test-suite (C/C++ part) pulldown
  config/microbenchmarks_loopvectorization_loopvectorizationbenchmarks.info
  config/microbenchmarks_slpvectorization_slpvectorizationbenchmarks.info
  config/singlesource_regression_c_gcc_c_torture_execute_gcc_c_execute_20071018_1.info
  config/singlesource_regression_c_gcc_c_torture_execute_gcc_c_execute_20071120_1.info
  config/singlesource_regression_c_gcc_c_torture_execute_gcc_c_execute_builtin_bitops_1.info
  config/singlesource_regression_c_gcc_c_torture_execute_gcc_c_execute_pr36765.info
  config/singlesource_regression_c_gcc_c_torture_execute_gcc_c_execute_pr43008.info
  config/singlesource_regression_c_gcc_c_torture_execute_gcc_c_execute_pr78586.info
  config/singlesource_regression_c_gcc_c_torture_execute_gcc_c_execute_pr79327.info
  config/singlesource_regression_c_gcc_c_torture_execute_gcc_c_execute_pr84339.info
  config/singlesource_regression_c_gcc_c_torture_execute_gcc_c_execute_pr84478.info
  config/singlesource_regression_c_gcc_c_torture_execute_gcc_c_execute_strlen_7.info
  config/singlesource_unittests_2020_01_06_coverage_001.info
  config/singlesource_unittests_2020_01_06_coverage_002.info
  config/singlesource_unittests_2020_01_06_coverage_003.info
  config/singlesource_unittests_2020_01_06_coverage_004.info
  config/singlesource_unittests_2020_01_06_coverage_005.info
  config/singlesource_unittests_2020_01_06_coverage_006.info
  config/singlesource_unittests_2020_01_06_coverage_007.info
  config/singlesource_unittests_2020_01_06_coverage_008.info
  config/singlesource_unittests_2020_01_06_coverage_009.info
  config/singlesource_unittests_2020_01_06_coverage_010.info
  config/singlesource_unittests_float_classify.info
  config/singlesource_unittests_vectorizer_runtime_checks.info
  llvm_test_suite.xml
Owners: @pvchupin, @myler, @wanyaman, @duanhanbing

[SYCL][CUDA][Matrix] Adding test case for tf32 (#963)
  SYCL/Matrix/joint_matrix_tensorcore.cpp
Owners: @intel/llvm-reviewers-runtime

.github/CODEOWNERS:

* @pvchupin

# Use runtime team as the umbrella for most of the tests
/SYCL/ @intel/llvm-reviewers-runtime

# SYCL sub-directory matchers are grouped by code owner first, followed by
# alphabetical order within the group. Please, keep this ordering.

# Atomics
SYCL/AtomicRef @dm-vodopyanov @AlexeySachkov

# SYCL RT specific tests
SYCL/Assert @intel/llvm-reviewers-runtime
SYCL/Basic @intel/llvm-reviewers-runtime
SYCL/Config @intel/llvm-reviewers-runtime
SYCL/DiscardEvents @intel/llvm-reviewers-runtime
SYCL/FilterSelector @intel/llvm-reviewers-runtime
SYCL/HostInteropTask @intel/llvm-reviewers-runtime
SYCL/InorderQueue @intel/llvm-reviewers-runtime
SYCL/KernelAndProgram @intel/llvm-reviewers-runtime
SYCL/KernelParams @intel/llvm-reviewers-runtime
SYCL/Scheduler @intel/llvm-reviewers-runtime
SYCL/Tracing  @intel/llvm-reviewers-runtime

# Device library
SYCL/DeviceLib @vzakhari
SYCL/DeviceLib/ITTAnnotations @vzakhari @MrSidims

# Explicit SIMD
config_sycl/esimd* @kychendev @kbobrovs @v-vklochkov
SYCL/ESIMD @intel/dpcpp-esimd-reviewers

# Functor
SYCL/Functor @AlexeySachkov

# Group algorithms
SYCL/GroupAlgorithm @Pennycook @intel/llvm-reviewers-runtime
SYCL/SubGroup @Pennycook @intel/llvm-reviewers-runtime
SYCL/SubGroupMask @Pennycook @intel/llvm-reviewers-runtime
SYCL/GroupLocalMemory @Pennycook @intel/llvm-reviewers-runtime

# Plugin interface for Level Zero
/SYCL/Plugin/*level-zero* @intel/dpcpp-l0-pi-reviewers
/SYCL/Plugin/*level_zero* @intel/dpcpp-l0-pi-reviewers

# Printf
SYCL/Printf @intel/dpcpp-tools-reviewers

# Reduction algorithms
SYCL/Reduction @v-klochkov

# Image sampler
SYCL/Sampler @cperkinsintel

# Separate compilation
SYCL/SeparateCompile @intel/dpcpp-tools-reviewers

# Specialization constant
SYCL/SpecConstants @intel/dpcpp-tools-reviewers

# Unified Shared Memory (USM)
SYCL/USM @jbrodman @sergey-semenov

# Stream
SYCL/Basic/stream @againull

# Test scripts
*.pl @myler @wanyaman @duanhanbing
*.list @myler @wanyaman @duanhanbing

# tc files
*.xml @myler @wanyaman @duanhanbing
config_sycl/* @myler @wanyaman @duanhanbing

# Deprecated features
SYCL/DeprecatedFeatures @intel/llvm-reviewers-runtime

# ESIMD embargo
SYCL_ESIMD_EMBARGO @kychendev @kbobrovs @v-vklochkov
config_sycl_esimd_embargo @kychendev @kbobrovs @v-vklochkov
SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/lsc @fveselov

# named barriers
SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/named_barriers @fveselov

# XPTI and XPTI Framework
SYCL/XPTI @intel/llvm-reviewers-runtime

# BFloat16 conversion
/SYCL/BFloat16/ @intel/dpcpp-tools-reviewers

# Compiler tests
/SYCL/AOT/ @intel/dpcpp-tools-reviewers
/SYCL/DeviceCodeSplit/ @intel/dpcpp-tools-reviewers
/SYCL/SeparateCompile/ @intel/dpcpp-tools-reviewers
