Repository myler/llvm-test-suite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pvchupin, @intel/llvm-reviewers-runtime, @dm-vodopyanov, @AlexeySachkov, @vzakhari, @MrSidims, @kychendev, @kbobrovs, @v-vklochkov, @intel/dpcpp-esimd-reviewers, @Pennycook, @intel/dpcpp-l0-pi-reviewers, @intel/dpcpp-tools-reviewers, @v-klochkov, @cperkinsintel, @jbrodman, @sergey-semenov, @againull, @myler, @wanyaman, @duanhanbing, @fveselov

[SYCL] Re-enable SYCL/Reduction/ tests (#1153)
  SYCL/Reduction/reduction_big_data.cpp
  SYCL/Reduction/reduction_nd_lambda.cpp
Owners: @v-klochkov

[SYCL] Remove OpenCL event interop test after feature removal (#1161)
  SYCL/DeprecatedFeatures/event_creation_opencl.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Temporarily disable failing XPTI test on CPU (#1157)
  SYCL/XPTI/kernel/content.cpp
Owners: @intel/llvm-reviewers-runtime

Revert "[SYCL] temporarily disable tests" (#1149)
  SYCL/Basic/context-with-multiple-devices.cpp
  SYCL/Basic/interop/check_carrying_real_kernel_IDs.cpp
  SYCL/DiscardEvents/invalid_event_exceptions.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Adjust XPTI/kernel/content.cpp for https://github.com/intel/llvm/pull/6601 (#1164)
  SYCL/XPTI/kernel/content.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL][ESIMD] Test half type conversion under ESIMD emulator (#1155)
  SYCL/ESIMD/api/bin_and_cmp_ops_heavy.cpp
  SYCL/ESIMD/api/simd_memory_access.cpp
  SYCL/ESIMD/api/simd_view_select_2d_fp.cpp
  SYCL/ESIMD/api/slm_gather_scatter_heavy.cpp
  SYCL/ESIMD/api/unary_ops_heavy.cpp
  SYCL/ESIMD/regression/half_conversion_test.cpp
Owners: @intel/dpcpp-esimd-reviewers

Update llvm_test_suite_sycl to 563a159f8: [SYCL] Auto pulldown and update tc files on 20220822 for xmain-cand branch
  config_sycl/basic_code_location_e2e.info
  config_sycl/basic_code_location_e2e.xml
  config_sycl/basic_device_selectors.info
  config_sycl/basic_device_selectors.xml
  config_sycl/deprecatedfeatures_event_creation_opencl.info
  config_sycl/devicelib_imf_simd_emulate_test.info
  config_sycl/devicelib_imf_simd_emulate_test.xml
  config_sycl/esimd_regression_bit_shift_compilation_test.info
  config_sycl/esimd_regression_bit_shift_compilation_test.xml
  config_sycl/esimd_regression_half_conversion_test.info
  config_sycl/esimd_regression_half_conversion_test.xml
  config_sycl/esimd_regression_rol_ror_compilation_test.info
  config_sycl/esimd_regression_rol_ror_compilation_test.xml
  config_sycl/invokesimd_invoke_simd_conv.info
  config_sycl/invokesimd_invoke_simd_conv.xml
  config_sycl/invokesimd_invoke_simd_smoke.info
  config_sycl/invokesimd_invoke_simd_smoke.xml
  config_sycl/plugin_level_zero_events_caching.info
  config_sycl/plugin_level_zero_events_caching.xml
  config_sycl/plugin_level_zero_events_caching_leak.info
  config_sycl/plugin_level_zero_events_caching_leak.xml
  config_sycl/plugin_level_zero_sub_sub_device.info
  config_sycl/plugin_level_zero_sub_sub_device.xml
  config_sycl/regression_dae_separate_compile.info
  config_sycl/regression_dae_separate_compile.xml
  llvm_test_suite_sycl.xml
  llvm_test_suite_sycl_esimd.xml
  llvm_test_suite_sycl_valgrind.xml
Owners: @myler, @wanyaman, @duanhanbing

Update llvm_test_suite to 35e868549: [C/C++] Auto pulldown and update tc files on 20220822 for xmain-cand branch
  llvm_test_suite.xml
Owners: @myler, @wanyaman, @duanhanbing

fix 3-way merge issue
  SYCL/InlineAsm/asm_float_add.cpp
  SYCL/InlineAsm/asm_float_imm_arg.cpp
  SYCL/Regression/commandlist/Inputs/FindPrimesSYCL.cpp
Owners: @intel/llvm-reviewers-runtime

fix clang-format issue
  SYCL/Basic/buffer/buffer.cpp
  SYCL/ESIMD/api/bin_and_cmp_ops_heavy_aspect-fp64.cpp
  SYCL/ESIMD/regression/Inputs/dgetrf.hpp
  SYCL/ESIMD/regression/dgetrf_8x8.cpp
  SYCL/SubGroup/generic-shuffle_aspect-fp64.cpp
  SYCL/USM/copy_aspect-fp64.cpp
Owners: @intel/llvm-reviewers-runtime, @intel/dpcpp-esimd-reviewers, @Pennycook, @jbrodman, @sergey-semenov

fix clang-format issue
  SYCL/SubGroup/generic-shuffle_aspect-fp64.cpp
Owners: @Pennycook, @intel/llvm-reviewers-runtime

fix 3-way merge issue in subgroup_info test, and split 'double' code into info_aspect-fp64.cpp
  SYCL/SubGroup/info.cpp
  SYCL/SubGroup/info_aspect-fp64.cpp
Owners: @Pennycook, @intel/llvm-reviewers-runtime

Added common comment in <origin test name>_aspect-fp64.cpp, fixed typo issue and changed to use C++ style type aliases.
  SYCL/AtomicRef/assignment_atomic64_aspect-fp64.cpp
  SYCL/AtomicRef/assignment_atomic64_generic_aspect-fp64.cpp
  SYCL/Basic/buffer/buffer.cpp
  SYCL/Basic/buffer/buffer_aspect-fp64.cpp
  SYCL/DeprecatedFeatures/SpecConsts1.2.1/specialization_constants_aspect-fp64.cpp
  SYCL/DeprecatedFeatures/SpecConsts1.2.1/specialization_constants_override_aspect-fp64.cpp
  SYCL/DeviceLib/built-ins/nan_aspect-fp64.cpp
  SYCL/ESIMD/api/bin_and_cmp_ops_heavy_aspect-fp64.cpp
  SYCL/ESIMD/api/saturation_smoke_aspect-fp64.cpp
  SYCL/ESIMD/api/simd_view_select_2d_fp_aspect-fp64.cpp
  SYCL/ESIMD/api/unary_ops_heavy_aspect-fp64.cpp
  SYCL/ESIMD/ext_math_aspect-fp64.cpp
  SYCL/ESIMD/regression/Inputs/dgetrf.hpp
  SYCL/ESIMD/regression/dgetrf_8x8.cpp
  SYCL/ESIMD/regression/dgetrf_8x8_aspect-fp64.cpp
  SYCL/ESIMD/regression/dgetrf_aspect-fp64.cpp
  SYCL/ESIMD/regression/dgetrf_ref_aspect-fp64.cpp
  SYCL/GroupAlgorithm/SYCL2020/sort_aspect-fp64.cpp
  SYCL/InlineAsm/asm_float_add.cpp
  SYCL/InlineAsm/asm_float_add_aspect-fp64.cpp
  SYCL/InlineAsm/asm_float_imm_arg.cpp
  SYCL/InlineAsm/asm_float_imm_arg_aspect-fp64.cpp
  SYCL/KernelParams/union_kernel_param.cpp
  SYCL/KernelParams/union_kernel_param_aspect-fp64.cpp
  SYCL/SpecConstants/2020/handler-api.cpp
  SYCL/SpecConstants/2020/handler-api_aspect-fp64.cpp
  SYCL/SpecConstants/2020/kernel-bundle-api_aspect-fp64.cpp
  SYCL/SubGroup/barrier_aspect-fp64.cpp
  SYCL/SubGroup/generic-shuffle_aspect-fp64.cpp
  SYCL/SubGroup/load_store_aspect-fp64.cpp
  SYCL/USM/copy_aspect-fp64.cpp
  SYCL/USM/fill_aspect-fp64.cpp
Owners: @dm-vodopyanov, @AlexeySachkov, @intel/llvm-reviewers-runtime, @vzakhari, @intel/dpcpp-esimd-reviewers, @Pennycook, @intel/dpcpp-tools-reviewers, @jbrodman, @sergey-semenov

fix clang-format issue
  SYCL/AtomicRef/assignment_atomic64_generic_aspect-fp64.cpp
Owners: @dm-vodopyanov, @AlexeySachkov

fix unmatched brackets
  SYCL/Basic/buffer/buffer.cpp
Owners: @intel/llvm-reviewers-runtime

use function template to run the test for multiple data types in asm_float_add and re-enable IEEE-conformant single precision check in ESIMD/ext_math.cpp
  SYCL/ESIMD/ext_math.cpp
  SYCL/InlineAsm/asm_float_add.cpp
  SYCL/InlineAsm/asm_float_add_aspect-fp64.cpp
Owners: @intel/dpcpp-esimd-reviewers, @intel/llvm-reviewers-runtime

shorten the comment line < 80 characters.
  SYCL/ESIMD/api/saturation_smoke_aspect-fp64.cpp
Owners: @intel/dpcpp-esimd-reviewers

fix clang-format issue
  SYCL/InlineAsm/asm_float_add.cpp
Owners: @intel/llvm-reviewers-runtime

[ESIMD] Add E2E test for esimd wait API. This is a complementary test for llvm#6760.
  SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/api/esimd_wait.cpp
Owners: @kychendev, @kbobrovs, @v-vklochkov

fix all dangling formatting, use function template to check float/double.
  SYCL/Basic/buffer/buffer.cpp
  SYCL/ESIMD/api/bin_and_cmp_ops_heavy_aspect-fp64.cpp
  SYCL/ESIMD/api/functional/functions/functions_select_2d_core_aspect-fp64.cpp
  SYCL/ESIMD/regression/Inputs/dgetrf.hpp
  SYCL/ESIMD/regression/dgetrf_8x8.cpp
  SYCL/InlineAsm/asm_float_imm_arg.cpp
  SYCL/KernelParams/union_kernel_param.cpp
  SYCL/SubGroup/generic-shuffle_aspect-fp64.cpp
  SYCL/USM/copy_aspect-fp64.cpp
  SYCL/USM/fill_aspect-fp64.cpp
Owners: @intel/llvm-reviewers-runtime, @intel/dpcpp-esimd-reviewers, @Pennycook, @jbrodman, @sergey-semenov

fix clang-format issue
  SYCL/ESIMD/regression/Inputs/dgetrf.hpp
  SYCL/ESIMD/regression/dgetrf_8x8.cpp
  SYCL/InlineAsm/asm_float_imm_arg.cpp
  SYCL/KernelParams/union_kernel_param.cpp
Owners: @intel/dpcpp-esimd-reviewers, @intel/llvm-reviewers-runtime

typo fix in dgetrf_8x8.cpp
  SYCL/ESIMD/regression/dgetrf_8x8.cpp
Owners: @intel/dpcpp-esimd-reviewers

fix clang-format issue
  SYCL/ESIMD/regression/dgetrf_8x8.cpp
Owners: @intel/dpcpp-esimd-reviewers

[SYCL][ESIMD] Remove "cl::" namespace in esimd_verify.cpp (#1119)
  SYCL/ESIMD/esimd_verify.cpp
Owners: @intel/dpcpp-esimd-reviewers

Update SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/api/esimd_wait.cpp
  SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/api/esimd_wait.cpp
Owners: @kychendev, @kbobrovs, @v-vklochkov

use '-device gen12lp' for aot_mixed.cpp
  SYCL/ESIMD/aot_mixed.cpp
Owners: @intel/dpcpp-esimd-reviewers

rename aspect-fp64 to aspect_fp64 to stick to underscores and not mix then with '-'
  SYCL/AtomicRef/assignment_atomic64_aspect_fp64.cpp
  SYCL/AtomicRef/assignment_atomic64_generic_aspect_fp64.cpp
  SYCL/Basic/buffer/buffer_aspect_fp64.cpp
  SYCL/DeprecatedFeatures/SpecConsts1.2.1/specialization_constants_aspect_fp64.cpp
  SYCL/DeprecatedFeatures/SpecConsts1.2.1/specialization_constants_override_aspect_fp64.cpp
  SYCL/DeviceLib/built-ins/nan_aspect_fp64.cpp
  SYCL/ESIMD/api/bin_and_cmp_ops_heavy_aspect_fp64.cpp
  SYCL/ESIMD/api/functional/functions/functions_select_2d_core_aspect_fp64.cpp
  SYCL/ESIMD/api/replicate_smoke_aspect_fp64.cpp
  SYCL/ESIMD/api/saturation_smoke_aspect_fp64.cpp
  SYCL/ESIMD/api/simd_view_select_2d_fp_aspect_fp64.cpp
  SYCL/ESIMD/api/unary_ops_heavy_aspect_fp64.cpp
  SYCL/ESIMD/ext_math_aspect_fp64.cpp
  SYCL/ESIMD/regression/dgetrf_8x8_aspect_fp64.cpp
  SYCL/ESIMD/regression/dgetrf_aspect_fp64.cpp
  SYCL/ESIMD/regression/dgetrf_ref_aspect_fp64.cpp
  SYCL/GroupAlgorithm/SYCL2020/sort_aspect_fp64.cpp
  SYCL/InlineAsm/asm_float_add_aspect_fp64.cpp
  SYCL/InlineAsm/asm_float_imm_arg_aspect_fp64.cpp
  SYCL/KernelParams/union_kernel_param_aspect_fp64.cpp
  SYCL/SpecConstants/2020/handler-api_aspect_fp64.cpp
  SYCL/SpecConstants/2020/kernel-bundle-api_aspect_fp64.cpp
  SYCL/SubGroup/barrier_aspect_fp64.cpp
  SYCL/SubGroup/generic-shuffle_aspect_fp64.cpp
  SYCL/SubGroup/info_aspect_fp64.cpp
  SYCL/SubGroup/load_store_aspect_fp64.cpp
  SYCL/USM/copy_aspect_fp64.cpp
  SYCL/USM/fill_aspect_fp64.cpp
Owners: @dm-vodopyanov, @AlexeySachkov, @intel/llvm-reviewers-runtime, @vzakhari, @intel/dpcpp-esimd-reviewers, @Pennycook, @intel/dpcpp-tools-reviewers, @jbrodman, @sergey-semenov

also to rename the file markup
  SYCL/ESIMD/api/functional/functions/functions_select_2d_core_aspect_fp64.cpp
  SYCL/ESIMD/api/saturation_smoke_aspect_fp64.cpp
  SYCL/ESIMD/api/simd_view_select_2d_fp_aspect_fp64.cpp
  SYCL/ESIMD/api/unary_ops_heavy_aspect_fp64.cpp
  SYCL/ESIMD/ext_math_aspect_fp64.cpp
  SYCL/ESIMD/regression/dgetrf_8x8_aspect_fp64.cpp
  SYCL/ESIMD/regression/dgetrf_aspect_fp64.cpp
  SYCL/ESIMD/regression/dgetrf_ref_aspect_fp64.cpp
  SYCL/SubGroup/barrier_aspect_fp64.cpp
  SYCL/SubGroup/load_store_aspect_fp64.cpp
  SYCL/USM/fill_aspect_fp64.cpp
Owners: @intel/dpcpp-esimd-reviewers, @Pennycook, @intel/llvm-reviewers-runtime, @jbrodman, @sergey-semenov

[CMPLRTST-17804] Fix the issue for valgrind sycl test reporting wrong test name to Failboard
  llvm_test_suite_sycl.pl
Owners: @myler, @wanyaman, @duanhanbing

[SYCL] Make DeviceGlobal tests unsupported rather than xfail (#1235)
  SYCL/DeviceGlobal/device_global_arrow.cpp
  SYCL/DeviceGlobal/device_global_device_only.cpp
  SYCL/DeviceGlobal/device_global_operator_passthrough.cpp
  SYCL/DeviceGlobal/device_global_subscript.cpp
Owners: @intel/llvm-reviewers-runtime

DCMPLRTST-17973: switch icx/icpx instead of dpcpp to run llvm_test_suite_sycl
  llvm_test_suite_sycl.pl
Owners: @myler, @wanyaman, @duanhanbing

fix tool path on Windows.
  llvm_test_suite_sycl.pl
Owners: @myler, @wanyaman, @duanhanbing

[SYCL] reenable test after CPU driver uplift (#1166)
  SYCL/SubGroup/attributes.cpp
Owners: @Pennycook, @intel/llvm-reviewers-runtime

[SYCL][ESIMD][EMU] Half-type test updates (#1167)
  SYCL/ESIMD/api/svm_gather_scatter.cpp
  SYCL/ESIMD/ext_math.cpp
Owners: @intel/dpcpp-esimd-reviewers

[SYCL] Enable discard_events feature tests for L0 (#1132)
  SYCL/DiscardEvents/discard_events_accessors.cpp
  SYCL/DiscardEvents/discard_events_using_assert_ndebug.cpp
  SYCL/DiscardEvents/discard_events_usm.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Remove tests for ext::oneapi::reduction (#1152)
  SYCL/Reduction/reduction_big_data.cpp
  SYCL/Reduction/reduction_nd_N_queue_shortcut.cpp
  SYCL/Reduction/reduction_nd_N_vars.cpp
  SYCL/Reduction/reduction_nd_conditional.cpp
  SYCL/Reduction/reduction_nd_dw.cpp
  SYCL/Reduction/reduction_nd_ext_type.hpp
  SYCL/Reduction/reduction_nd_lambda.cpp
  SYCL/Reduction/reduction_nd_queue_shortcut.cpp
  SYCL/Reduction/reduction_nd_range_scalar.hpp
  SYCL/Reduction/reduction_nd_rw.cpp
  SYCL/Reduction/reduction_nd_s0_dw.cpp
  SYCL/Reduction/reduction_nd_s1_rw.cpp
  SYCL/Reduction/reduction_placeholder.cpp
  SYCL/Reduction/reduction_range_1d_dw.cpp
  SYCL/Reduction/reduction_range_1d_dw_64bit.cpp
  SYCL/Reduction/reduction_range_1d_rw.cpp
  SYCL/Reduction/reduction_range_1d_s0_dw.cpp
  SYCL/Reduction/reduction_range_1d_s0_rw.cpp
  SYCL/Reduction/reduction_range_1d_s1_dw.cpp
  SYCL/Reduction/reduction_range_1d_s1_rw.cpp
  SYCL/Reduction/reduction_range_2d_dw.cpp
  SYCL/Reduction/reduction_range_2d_rw.cpp
  SYCL/Reduction/reduction_range_3d_dw.cpp
  SYCL/Reduction/reduction_range_3d_rw.cpp
  SYCL/Reduction/reduction_range_lambda.cpp
  SYCL/Reduction/reduction_range_queue_shortcut.cpp
  SYCL/Reduction/reduction_range_scalar.hpp
  SYCL/Reduction/reduction_range_usm_dw.cpp
  SYCL/Reduction/reduction_reducer_op_eq.cpp
  SYCL/Reduction/reduction_usm.cpp
  SYCL/Reduction/reduction_usm_dw.cpp
  SYCL/Reduction/reduction_utils.hpp
  SYCL/Reduction/regression_after_pr_6343.cpp
  SYCL/Regression/reduction_resource_leak_dw.cpp
  SYCL/Regression/reduction_resource_leak_usm.cpp
Owners: @v-klochkov, @intel/llvm-reviewers-runtime

[SYCL][libdevice] Add tests for intel math device library. (#1043)
  SYCL/DeviceLib/imf_fp32_test.cpp
  SYCL/DeviceLib/imf_fp64_test.cpp
  SYCL/DeviceLib/imf_utils.hpp
Owners: @vzakhari

[SYCL] Temporarily disable assert_in_simultaneously_multiple_tus for CUDA (#1073)
  SYCL/Assert/assert_in_simultaneously_multiple_tus.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Temporarily disable failing tests (#1168)
  SYCL/DiscardEvents/invalid_event_exceptions.cpp
  SYCL/Plugin/level_zero_batch_event_status.cpp
  SYCL/USM/depends_on.cpp
Owners: @intel/llvm-reviewers-runtime, @intel/dpcpp-l0-pi-reviewers, @jbrodman, @sergey-semenov

[SYCL] Add sycl complex testing (#1058)
  SYCL/Complex/sycl_complex_helper.hpp
  SYCL/Complex/sycl_complex_math_test.cpp
  SYCL/Complex/sycl_complex_math_test_cases.hpp
  SYCL/Complex/sycl_complex_operator_test.cpp
  SYCL/Complex/sycl_complex_operator_test_cases.hpp
  SYCL/Complex/sycl_complex_pow_test.cpp
  SYCL/Complex/sycl_complex_stream_test.cpp
Owners: @intel/llvm-reviewers-runtime

.github/CODEOWNERS:

* @pvchupin

# Use runtime team as the umbrella for most of the tests
/SYCL/ @intel/llvm-reviewers-runtime

# SYCL sub-directory matchers are grouped by code owner first, followed by
# alphabetical order within the group. Please, keep this ordering.

# Atomics
SYCL/AtomicRef @dm-vodopyanov @AlexeySachkov

# SYCL RT specific tests
SYCL/Assert @intel/llvm-reviewers-runtime
SYCL/Basic @intel/llvm-reviewers-runtime
SYCL/Config @intel/llvm-reviewers-runtime
SYCL/DiscardEvents @intel/llvm-reviewers-runtime
SYCL/FilterSelector @intel/llvm-reviewers-runtime
SYCL/HostInteropTask @intel/llvm-reviewers-runtime
SYCL/InorderQueue @intel/llvm-reviewers-runtime
SYCL/KernelAndProgram @intel/llvm-reviewers-runtime
SYCL/KernelParams @intel/llvm-reviewers-runtime
SYCL/Scheduler @intel/llvm-reviewers-runtime
SYCL/Tracing  @intel/llvm-reviewers-runtime

# Device library
SYCL/DeviceLib @vzakhari
SYCL/DeviceLib/ITTAnnotations @vzakhari @MrSidims

# Explicit SIMD
config_sycl/esimd* @kychendev @kbobrovs @v-vklochkov
SYCL/ESIMD @intel/dpcpp-esimd-reviewers

# Functor
SYCL/Functor @AlexeySachkov

# Group algorithms
SYCL/GroupAlgorithm @Pennycook @intel/llvm-reviewers-runtime
SYCL/SubGroup @Pennycook @intel/llvm-reviewers-runtime
SYCL/SubGroupMask @Pennycook @intel/llvm-reviewers-runtime
SYCL/GroupLocalMemory @Pennycook @intel/llvm-reviewers-runtime

# Plugin interface for Level Zero
/SYCL/Plugin/*level-zero* @intel/dpcpp-l0-pi-reviewers
/SYCL/Plugin/*level_zero* @intel/dpcpp-l0-pi-reviewers

# Printf
SYCL/Printf @intel/dpcpp-tools-reviewers

# Reduction algorithms
SYCL/Reduction @v-klochkov

# Image sampler
SYCL/Sampler @cperkinsintel

# Separate compilation
SYCL/SeparateCompile @intel/dpcpp-tools-reviewers

# Specialization constant
SYCL/SpecConstants @intel/dpcpp-tools-reviewers

# Unified Shared Memory (USM)
SYCL/USM @jbrodman @sergey-semenov

# Stream
SYCL/Basic/stream @againull

# Test scripts
*.pl @myler @wanyaman @duanhanbing
*.list @myler @wanyaman @duanhanbing

# tc files
*.xml @myler @wanyaman @duanhanbing
config_sycl/* @myler @wanyaman @duanhanbing

# Deprecated features
SYCL/DeprecatedFeatures @intel/llvm-reviewers-runtime

# ESIMD embargo
SYCL_ESIMD_EMBARGO @kychendev @kbobrovs @v-vklochkov
config_sycl_esimd_embargo @kychendev @kbobrovs @v-vklochkov
SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/lsc @fveselov

# named barriers
SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/named_barriers @fveselov

# XPTI and XPTI Framework
SYCL/XPTI @intel/llvm-reviewers-runtime

# BFloat16 conversion
/SYCL/BFloat16/ @intel/dpcpp-tools-reviewers

# Compiler tests
/SYCL/AOT/ @intel/dpcpp-tools-reviewers
/SYCL/DeviceCodeSplit/ @intel/dpcpp-tools-reviewers
/SYCL/SeparateCompile/ @intel/dpcpp-tools-reviewers
