Repository myler/llvm-test-suite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pvchupin, @intel/llvm-reviewers-runtime, @dm-vodopyanov, @AlexeySachkov, @vzakhari, @MrSidims, @kychendev, @kbobrovs, @v-vklochkov, @intel/dpcpp-esimd-reviewers, @Pennycook, @intel/dpcpp-l0-pi-reviewers, @intel/dpcpp-tools-reviewers, @v-klochkov, @cperkinsintel, @jbrodman, @sergey-semenov, @againull, @myler, @wanyaman, @duanhanbing, @fveselov

.github/CODEOWNERS:

* @pvchupin

# Use runtime team as the umbrella for most of the tests
/SYCL/ @intel/llvm-reviewers-runtime

# SYCL sub-directory matchers are grouped by code owner first, followed by
# alphabetical order within the group. Please, keep this ordering.

# Atomics
SYCL/AtomicRef @dm-vodopyanov @AlexeySachkov

# SYCL RT specific tests
SYCL/Assert @intel/llvm-reviewers-runtime
SYCL/Basic @intel/llvm-reviewers-runtime
SYCL/Config @intel/llvm-reviewers-runtime
SYCL/DiscardEvents @intel/llvm-reviewers-runtime
SYCL/FilterSelector @intel/llvm-reviewers-runtime
SYCL/HostInteropTask @intel/llvm-reviewers-runtime
SYCL/InorderQueue @intel/llvm-reviewers-runtime
SYCL/KernelAndProgram @intel/llvm-reviewers-runtime
SYCL/KernelParams @intel/llvm-reviewers-runtime
SYCL/Scheduler @intel/llvm-reviewers-runtime
SYCL/Tracing  @intel/llvm-reviewers-runtime

# Device library
SYCL/DeviceLib @vzakhari
SYCL/DeviceLib/ITTAnnotations @vzakhari @MrSidims

# Explicit SIMD
config_sycl/esimd* @kychendev @kbobrovs @v-vklochkov
SYCL/ESIMD @intel/dpcpp-esimd-reviewers

# Functor
SYCL/Functor @AlexeySachkov

# Group algorithms
SYCL/GroupAlgorithm @Pennycook @intel/llvm-reviewers-runtime
SYCL/SubGroup @Pennycook @intel/llvm-reviewers-runtime
SYCL/SubGroupMask @Pennycook @intel/llvm-reviewers-runtime
SYCL/GroupLocalMemory @Pennycook @intel/llvm-reviewers-runtime

# Plugin interface for Level Zero
/SYCL/Plugin/*level-zero* @intel/dpcpp-l0-pi-reviewers
/SYCL/Plugin/*level_zero* @intel/dpcpp-l0-pi-reviewers

# Printf
SYCL/Printf @intel/dpcpp-tools-reviewers

# Reduction algorithms
SYCL/Reduction @v-klochkov

# Image sampler
SYCL/Sampler @cperkinsintel

# Separate compilation
SYCL/SeparateCompile @intel/dpcpp-tools-reviewers

# Specialization constant
SYCL/SpecConstants @intel/dpcpp-tools-reviewers

# Unified Shared Memory (USM)
SYCL/USM @jbrodman @sergey-semenov

# Stream
SYCL/Basic/stream @againull

# Test scripts
*.pl @myler @wanyaman @duanhanbing
*.list @myler @wanyaman @duanhanbing

# tc files
*.xml @myler @wanyaman @duanhanbing
config_sycl/* @myler @wanyaman @duanhanbing

# Deprecated features
SYCL/DeprecatedFeatures @intel/llvm-reviewers-runtime

# ESIMD embargo
SYCL_ESIMD_EMBARGO @kychendev @kbobrovs @v-vklochkov
config_sycl_esimd_embargo @kychendev @kbobrovs @v-vklochkov
SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/lsc @fveselov

# named barriers
SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/named_barriers @fveselov

# XPTI and XPTI Framework
SYCL/XPTI @intel/llvm-reviewers-runtime

# BFloat16 conversion
/SYCL/BFloat16/ @intel/dpcpp-tools-reviewers

# Compiler tests
/SYCL/AOT/ @intel/dpcpp-tools-reviewers
/SYCL/DeviceCodeSplit/ @intel/dpcpp-tools-reviewers
/SYCL/SeparateCompile/ @intel/dpcpp-tools-reviewers

Update llvm_test_suite to cd320607a: [C/C++] Auto pulldown and update tc files on 20220719 for xmain-cand branch
  llvm_test_suite.xml
Owners: @myler, @wanyaman, @duanhanbing

[ESIMD] Fix the test verifying printf with ESIMD kernel (#1090)
  SYCL/ESIMD/printf.cpp
Owners: @intel/dpcpp-esimd-reviewers

[SYCL][CUDA] Revert experimental/builtins.hpp includes (#1076)
  SYCL/BFloat16/bfloat16_builtins.cpp
  SYCL/DeviceLib/built-ins/ext_native_math.cpp
  SYCL/DeviceLib/built-ins/printf.cpp
  SYCL/ESIMD/printf.cpp
  SYCL/Matrix/element_wise_wi_marray.cpp
  SYCL/Printf/char.cpp
  SYCL/Printf/double.cpp
  SYCL/Printf/float.cpp
  SYCL/Printf/int.cpp
  SYCL/Printf/long.cpp
  SYCL/Printf/mixed-address-space.cpp
  SYCL/Printf/percent-symbol.cpp
Owners: @intel/dpcpp-tools-reviewers, @vzakhari, @intel/dpcpp-esimd-reviewers, @intel/llvm-reviewers-runtime

[SYCL] Use SYCL_PI_SUPPRESS_ERROR_MESSAGE in simultaneous assert tests (#1089)
  SYCL/Assert/assert_in_simultaneous_kernels.cpp
  SYCL/Assert/assert_in_simultaneously_multiple_tus.cpp
  SYCL/Assert/assert_in_simultaneously_multiple_tus_one_ndebug.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Temporarily disable Basic/stream/release_resources_test.cpp (#1098)
  SYCL/Basic/stream/a.out
  SYCL/Basic/stream/release_resources_test.cpp
Owners: @againull

[SYCL][L0] check eager init mode (#1091)
  SYCL/Plugin/level_zero_eager_init.cpp
Owners: @intel/dpcpp-l0-pi-reviewers

Update llvm_test_suite_sycl to eff84682c: [SYCL] Auto pulldown and update tc files on 20220721 for xmain-cand branch
  config_sycl/plugin_level_zero_eager_init.info
  config_sycl/plugin_level_zero_eager_init.xml
  llvm_test_suite_sycl.xml
  llvm_test_suite_sycl_valgrind.xml
Owners: @myler, @wanyaman, @duanhanbing

Update llvm_test_suite to 88c7542aa: [C/C++] Auto pulldown and update tc files on 20220721 for xmain-cand branch
  llvm_test_suite.xml
Owners: @myler, @wanyaman, @duanhanbing

CMPLRTST-17291: fix the issue ZE_DEBUG=1 will be overwrited by opt_use_gpu_zedebug (ZE_DEBUG=-1)
  setenv.list
Owners: @myler, @wanyaman, @duanhanbing

[SYCL] [L0] Test for checking use of immediate commandlists. (#1095)
  SYCL/Plugin/level_zero_imm_cmdlist.cpp
Owners: @intel/dpcpp-l0-pi-reviewers

[ESIMD] Test proper compilation of abs function (#1101)
  SYCL/ESIMD/regression/abs_fix_test.cpp
Owners: @intel/dpcpp-esimd-reviewers

[ESIMD] Add LIT tests for -fsycl-esimd-force-stateless-mem (#1104)
  SYCL/ESIMD/acc_gather_scatter_rgba.hpp
  SYCL/ESIMD/acc_gather_scatter_rgba_stateless.cpp
  SYCL/ESIMD/accessor.hpp
  SYCL/ESIMD/accessor_gather_scatter.hpp
  SYCL/ESIMD/accessor_gather_scatter_stateless.cpp
  SYCL/ESIMD/accessor_load_store.hpp
  SYCL/ESIMD/accessor_load_store_stateless.cpp
  SYCL/ESIMD/accessor_stateless.cpp
  SYCL/ESIMD/lsc/Inputs/lsc_surf.hpp
  SYCL/ESIMD/lsc/lsc_surf_load_stateless.cpp
  SYCL/ESIMD/lsc/lsc_surf_stateless.cpp
  SYCL/ESIMD/lsc/lsc_surf_store_stateless.cpp
Owners: @intel/dpcpp-esimd-reviewers

[SYCL] Add regression test for https://github.com/intel/llvm/pull/6460 (#1106)
  SYCL/Reduction/regression_after_pr_6343.cpp
Owners: @v-klochkov

[SYCL][ESIMD] Fix test failure when running on emulator (#1109)
  SYCL/ESIMD/regression/abs_fix_test.cpp
Owners: @intel/dpcpp-esimd-reviewers

[SYCL][ESIMD][EMU] Enabling dpas_test1/2/3 tests (#1110)
  SYCL/ESIMD/dpas/dpas_test1.cpp
  SYCL/ESIMD/dpas/dpas_test2.cpp
  SYCL/ESIMD/dpas/dpas_test3.cpp
Owners: @intel/dpcpp-esimd-reviewers

[SYCL] Removed instances of deprecated feature kernel::get_work_group_info (#1082)
  SYCL/Basic/kernel_info.cpp
  SYCL/DeprecatedFeatures/kernel_info.cpp
  SYCL/DeprecatedFeatures/parallel_for_range.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Add device_global on-device tests (#971)
  SYCL/DeviceGlobal/device_global_arrow.cpp
  SYCL/DeviceGlobal/device_global_device_only.cpp
  SYCL/DeviceGlobal/device_global_operator_passthrough.cpp
  SYCL/DeviceGlobal/device_global_subscript.cpp
Owners: @intel/llvm-reviewers-runtime

[ESIMD] Refresh the test for oneapi::experimental::printf (#1111)
  SYCL/ESIMD/printf.cpp
Owners: @intel/dpcpp-esimd-reviewers

[ESIMD] Add a test specialization constant that is set but not used (#1108)
  SYCL/ESIMD/unused_spec_const.cpp
Owners: @intel/dpcpp-esimd-reviewers

[SYCL] Adjust tests to get_native class functions removal (#1113)
  SYCL/Basic/interop/construction_ocl.cpp
  SYCL/Basic/interop/construction_ze.cpp
  SYCL/DeprecatedFeatures/device_platform_interop.cpp
  SYCL/OnlineCompiler/online_compiler_L0.cpp
  SYCL/Plugin/interop-level-zero-interop-task-mem.cpp
  SYCL/Plugin/interop-level-zero-keep-ownership.cpp
  SYCL/Plugin/interop-opencl.cpp
Owners: @intel/llvm-reviewers-runtime, @intel/dpcpp-l0-pi-reviewers

[ESIMD][EMU] Disable unused_spec_const test for emulator (#1117)
  SYCL/ESIMD/spec_const/unused_spec_const.cpp
Owners: @intel/dpcpp-esimd-reviewers

Revert "[SYCL][ESIMD][EMU] Enabling dpas_test1/2/3 tests (#1110)" (#1115)
  SYCL/ESIMD/dpas/dpas_test1.cpp
  SYCL/ESIMD/dpas/dpas_test2.cpp
  SYCL/ESIMD/dpas/dpas_test3.cpp
Owners: @intel/dpcpp-esimd-reviewers

[SYCL] Remove SYCL/Regression/kernel_name_inside_sycl_namespace.cpp (#1118)
  SYCL/Regression/kernel_name_inside_sycl_namespace.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL][HIP] Disable flaky HIP test (#1126)
  SYCL/Assert/assert_in_simultaneous_kernels.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL][HIP] Fix assert tests (#1083)
  SYCL/Assert/assert_in_kernels.cpp
  SYCL/Assert/assert_in_kernels_ndebug.cpp
  SYCL/Assert/assert_in_kernels_win.cpp
  SYCL/Assert/assert_in_multiple_tus.cpp
  SYCL/Assert/assert_in_multiple_tus_one_ndebug.cpp
  SYCL/Assert/assert_in_multiple_tus_one_ndebug_win.cpp
  SYCL/Assert/assert_in_multiple_tus_win.cpp
  SYCL/Assert/assert_in_one_kernel.cpp
  SYCL/Assert/assert_in_one_kernel_win.cpp
  SYCL/Assert/assert_in_simultaneous_kernels.cpp
  SYCL/Assert/assert_in_simultaneous_kernels_win.cpp
  SYCL/Assert/assert_in_simultaneously_multiple_tus.cpp
  SYCL/Assert/assert_in_simultaneously_multiple_tus_one_ndebug.cpp
  SYCL/Regression/kernel_bundle_ignore_sycl_external.cpp
  SYCL/SeparateCompile/sycl-external.cpp
Owners: @intel/llvm-reviewers-runtime, @intel/dpcpp-tools-reviewers

[SYCL] Remove missed uses of get_native class functions (#1125)
  SYCL/Basic/interop/get_native_ocl.cpp
  SYCL/Basic/interop/get_native_ze.cpp
  SYCL/DeprecatedFeatures/cuda_program_interop.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Disable failing test for CUDA (#1127)
  SYCL/Basic/image/image_write_fp16.cpp
Owners: @intel/llvm-reviewers-runtime

Update llvm_test_suite_sycl to dd141d294: [SYCL] Auto pulldown and update tc files on 20220812 for xmain-cand branch
  config_sycl/deviceglobal_device_global_arrow.info
  config_sycl/deviceglobal_device_global_arrow.xml
  config_sycl/deviceglobal_device_global_device_only.info
  config_sycl/deviceglobal_device_global_device_only.xml
  config_sycl/deviceglobal_device_global_operator_passthrough.info
  config_sycl/deviceglobal_device_global_operator_passthrough.xml
  config_sycl/deviceglobal_device_global_subscript.info
  config_sycl/deviceglobal_device_global_subscript.xml
  config_sycl/esimd_acc_gather_scatter_rgba_stateless.info
  config_sycl/esimd_acc_gather_scatter_rgba_stateless.xml
  config_sycl/esimd_accessor_gather_scatter_stateless.info
  config_sycl/esimd_accessor_gather_scatter_stateless.xml
  config_sycl/esimd_accessor_load_store_stateless.info
  config_sycl/esimd_accessor_load_store_stateless.xml
  config_sycl/esimd_accessor_stateless.info
  config_sycl/esimd_accessor_stateless.xml
  config_sycl/esimd_lsc_lsc_surf_load_stateless.info
  config_sycl/esimd_lsc_lsc_surf_load_stateless.xml
  config_sycl/esimd_lsc_lsc_surf_stateless.info
  config_sycl/esimd_lsc_lsc_surf_stateless.xml
  config_sycl/esimd_lsc_lsc_surf_store_stateless.info
  config_sycl/esimd_lsc_lsc_surf_store_stateless.xml
  config_sycl/esimd_regression_abs_fix_test.info
  config_sycl/esimd_regression_abs_fix_test.xml
  config_sycl/esimd_spec_const_unused_spec_const.info
  config_sycl/esimd_spec_const_unused_spec_const.xml
  config_sycl/plugin_level_zero_imm_cmdlist.info
  config_sycl/plugin_level_zero_imm_cmdlist.xml
  config_sycl/reduction_regression_after_pr_6343.info
  config_sycl/reduction_regression_after_pr_6343.xml
  config_sycl/regression_kernel_name_inside_sycl_namespace.info
  llvm_test_suite_sycl.xml
  llvm_test_suite_sycl_esimd.xml
  llvm_test_suite_sycl_valgrind.xml
Owners: @myler, @wanyaman, @duanhanbing

Update llvm_test_suite to 810cf2f41: [C/C++] Auto pulldown and update tc files on 20220812 for xmain-cand branch
  config/singlesource_unittests_vectorizer_recurrences.info
  llvm_test_suite.xml
Owners: @pvchupin, @myler, @wanyaman, @duanhanbing

resolve conflicts.
  SYCL/InlineAsm/Negative/asm_bad_opcode.cpp
  SYCL/InlineAsm/Negative/asm_bad_operand_syntax.cpp
  SYCL/InlineAsm/Negative/asm_duplicate_label.cpp
  SYCL/InlineAsm/Negative/asm_illegal_exec_size.cpp
  SYCL/InlineAsm/Negative/asm_missing_label.cpp
  SYCL/InlineAsm/Negative/asm_missing_region.cpp
  SYCL/InlineAsm/Negative/asm_simple.cpp
  SYCL/InlineAsm/Negative/asm_undefined_decl.cpp
  SYCL/InlineAsm/Negative/asm_undefined_pred.cpp
  SYCL/InlineAsm/Negative/asm_wrong_declare.cpp
  SYCL/InlineAsm/asm_8_empty.cpp
  SYCL/InlineAsm/asm_8_no_input_int.cpp
  SYCL/InlineAsm/asm_arbitrary_ops_order.cpp
  SYCL/InlineAsm/asm_float_add.cpp
  SYCL/InlineAsm/asm_float_imm_arg.cpp
  SYCL/InlineAsm/asm_float_neg.cpp
  SYCL/InlineAsm/asm_if.cpp
  SYCL/InlineAsm/asm_imm_arg.cpp
  SYCL/InlineAsm/asm_loop.cpp
  SYCL/InlineAsm/asm_mul.cpp
  SYCL/InlineAsm/asm_multiple_instructions.cpp
  SYCL/InlineAsm/asm_no_operands.cpp
  SYCL/InlineAsm/asm_no_output.cpp
  SYCL/InlineAsm/asm_switch.cpp
Owners: @intel/llvm-reviewers-runtime

split double tests in AtomicRef directory
  SYCL/AtomicRef/assignment_atomic64.cpp
  SYCL/AtomicRef/assignment_atomic64_aspect-fp64.cpp
  SYCL/AtomicRef/assignment_atomic64_generic_aspect-fp64.cpp
Owners: @dm-vodopyanov, @AlexeySachkov

split double tests in Basic directory
  SYCL/Basic/buffer/buffer.cpp
  SYCL/Basic/buffer/buffer_aspect-fp64.cpp
Owners: @intel/llvm-reviewers-runtime

split double tests in DeprecatedFeatures directory
  SYCL/DeprecatedFeatures/SpecConsts1.2.1/specialization_constants.cpp
  SYCL/DeprecatedFeatures/SpecConsts1.2.1/specialization_constants_aspect-fp64.cpp
  SYCL/DeprecatedFeatures/SpecConsts1.2.1/specialization_constants_override_aspect-fp64.cpp
Owners: @intel/llvm-reviewers-runtime

split double tests in DeviceLib directory
  SYCL/DeviceLib/built-ins/nan_aspect-fp64.cpp
Owners: @vzakhari

split double tests in ESIMD directory
  SYCL/ESIMD/api/bin_and_cmp_ops_heavy.cpp
  SYCL/ESIMD/api/bin_and_cmp_ops_heavy.hpp
  SYCL/ESIMD/api/bin_and_cmp_ops_heavy_aspect-fp64.cpp
  SYCL/ESIMD/api/functional/functions/functions_select_2d.hpp
  SYCL/ESIMD/api/functional/functions/functions_select_2d_core_aspect-fp64.cpp
  SYCL/ESIMD/api/saturation_smoke.cpp
  SYCL/ESIMD/api/saturation_smoke.hpp
  SYCL/ESIMD/api/saturation_smoke_aspect-fp64.cpp
  SYCL/ESIMD/api/simd_view_select_2d_fp_aspect-fp64.cpp
  SYCL/ESIMD/api/unary_ops_heavy.hpp
  SYCL/ESIMD/api/unary_ops_heavy_aspect-fp64.cpp
  SYCL/ESIMD/ext_math.hpp
  SYCL/ESIMD/ext_math_aspect-fp64.cpp
  SYCL/ESIMD/regression/Inputs/dgetrf_aspect-fp64.hpp
  SYCL/ESIMD/regression/dgetrf_8x8_aspect-fp64.cpp
  SYCL/ESIMD/regression/dgetrf_aspect-fp64.cpp
  SYCL/ESIMD/regression/dgetrf_ref_aspect-fp64.cpp
Owners: @intel/dpcpp-esimd-reviewers

split double tests in GroupAlgorithm directory
  SYCL/GroupAlgorithm/SYCL2020/sort.hpp
  SYCL/GroupAlgorithm/SYCL2020/sort_aspect-fp64.cpp
Owners: @Pennycook, @intel/llvm-reviewers-runtime

split double tests in InlineAsm directory
  SYCL/InlineAsm/asm_float_add.cpp
  SYCL/InlineAsm/asm_float_imm_arg.cpp
Owners: @intel/llvm-reviewers-runtime

split double tests in KernelParams directory
  SYCL/KernelParams/union_kernel_param.cpp
  SYCL/KernelParams/union_kernel_param_aspect-fp64.cpp
Owners: @intel/llvm-reviewers-runtime

split double tests in Regression directory
  SYCL/Regression/commandlist/Inputs/FindPrimesSYCL.cpp
Owners: @intel/llvm-reviewers-runtime

split double tests in SpecConstants directory
  SYCL/SpecConstants/2020/handler-api.cpp
  SYCL/SpecConstants/2020/handler-api_aspect-fp64.cpp
  SYCL/SpecConstants/2020/kernel-bundle-api_aspect-fp64.cpp
Owners: @intel/dpcpp-tools-reviewers
