Repository myler/llvm-test-suite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pvchupin, @intel/llvm-reviewers-runtime, @dm-vodopyanov, @AlexeySachkov, @vzakhari, @MrSidims, @kychendev, @kbobrovs, @v-vklochkov, @intel/dpcpp-esimd-reviewers, @Pennycook, @intel/dpcpp-l0-pi-reviewers, @intel/dpcpp-tools-reviewers, @v-klochkov, @cperkinsintel, @jbrodman, @sergey-semenov, @againull, @myler, @wanyaman, @duanhanbing, @fveselov

.github/CODEOWNERS:

* @pvchupin

# Use runtime team as the umbrella for most of the tests
/SYCL/ @intel/llvm-reviewers-runtime

# SYCL sub-directory matchers are grouped by code owner first, followed by
# alphabetical order within the group. Please, keep this ordering.

# Atomics
SYCL/AtomicRef @dm-vodopyanov @AlexeySachkov

# SYCL RT specific tests
SYCL/Assert @intel/llvm-reviewers-runtime
SYCL/Basic @intel/llvm-reviewers-runtime
SYCL/Config @intel/llvm-reviewers-runtime
SYCL/DiscardEvents @intel/llvm-reviewers-runtime
SYCL/FilterSelector @intel/llvm-reviewers-runtime
SYCL/HostInteropTask @intel/llvm-reviewers-runtime
SYCL/InorderQueue @intel/llvm-reviewers-runtime
SYCL/KernelAndProgram @intel/llvm-reviewers-runtime
SYCL/KernelParams @intel/llvm-reviewers-runtime
SYCL/Scheduler @intel/llvm-reviewers-runtime
SYCL/Tracing  @intel/llvm-reviewers-runtime

# Device library
SYCL/DeviceLib @vzakhari
SYCL/DeviceLib/ITTAnnotations @vzakhari @MrSidims

# Explicit SIMD
config_sycl/esimd* @kychendev @kbobrovs @v-vklochkov
SYCL/ESIMD @intel/dpcpp-esimd-reviewers

# Functor
SYCL/Functor @AlexeySachkov

# Group algorithms
SYCL/GroupAlgorithm @Pennycook @intel/llvm-reviewers-runtime
SYCL/SubGroup @Pennycook @intel/llvm-reviewers-runtime
SYCL/SubGroupMask @Pennycook @intel/llvm-reviewers-runtime
SYCL/GroupLocalMemory @Pennycook @intel/llvm-reviewers-runtime

# Plugin interface for Level Zero
/SYCL/Plugin/*level-zero* @intel/dpcpp-l0-pi-reviewers
/SYCL/Plugin/*level_zero* @intel/dpcpp-l0-pi-reviewers

# Printf
SYCL/Printf @intel/dpcpp-tools-reviewers

# Reduction algorithms
SYCL/Reduction @v-klochkov

# Image sampler
SYCL/Sampler @cperkinsintel

# Separate compilation
SYCL/SeparateCompile @intel/dpcpp-tools-reviewers

# Specialization constant
SYCL/SpecConstants @intel/dpcpp-tools-reviewers

# Unified Shared Memory (USM)
SYCL/USM @jbrodman @sergey-semenov

# Stream
SYCL/Basic/stream @againull

# Test scripts
*.pl @myler @wanyaman @duanhanbing
*.list @myler @wanyaman @duanhanbing

# tc files
*.xml @myler @wanyaman @duanhanbing
config_sycl/* @myler @wanyaman @duanhanbing

# Deprecated features
SYCL/DeprecatedFeatures @intel/llvm-reviewers-runtime

# ESIMD embargo
SYCL_ESIMD_EMBARGO @kychendev @kbobrovs @v-vklochkov
config_sycl_esimd_embargo @kychendev @kbobrovs @v-vklochkov
SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/lsc @fveselov

# named barriers
SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/named_barriers @fveselov

# XPTI and XPTI Framework
SYCL/XPTI @intel/llvm-reviewers-runtime

# BFloat16 conversion
/SYCL/BFloat16/ @intel/dpcpp-tools-reviewers

# Compiler tests
/SYCL/AOT/ @intel/dpcpp-tools-reviewers
/SYCL/DeviceCodeSplit/ @intel/dpcpp-tools-reviewers
/SYCL/SeparateCompile/ @intel/dpcpp-tools-reviewers

[SYCL][ESIMD] Bugfix & single_task for fmod_compatibility test (#1243)
  SYCL/ESIMD/regression/fmod_compatibility_test.cpp
Owners: @intel/dpcpp-esimd-reviewers

[ESIMD]Test correctness of type conversion fix (#1170)
  SYCL/ESIMD/regression/double_conversion.cpp
Owners: @intel/dpcpp-esimd-reviewers

[SYCL] Pass /Zc:__cplusplus for fsycl-host-compiler-win.cpp test (#1245)
  SYCL/Regression/fsycl-host-compiler-win.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Update part of the tests to make double support optional (#1190)
  SYCL/AtomicRef/assignment_atomic64.cpp
  SYCL/AtomicRef/assignment_atomic64_generic.cpp
  SYCL/Basic/buffer/buffer.cpp
  SYCL/DeviceLib/built-ins/nan.cpp
  SYCL/ESIMD/api/replicate_smoke.cpp
  SYCL/ESIMD/api/saturation_smoke.cpp
  SYCL/ESIMD/api/simd_view_select_2d_fp.cpp
  SYCL/ESIMD/ext_math.cpp
  SYCL/USM/fill.cpp
Owners: @dm-vodopyanov, @AlexeySachkov, @intel/llvm-reviewers-runtime, @vzakhari, @intel/dpcpp-esimd-reviewers, @jbrodman, @sergey-semenov

[SYCL] Remove host from supported device types and backends (#1224)
  SYCL/Basic/subdevice.cpp
  SYCL/Basic/subsubdevice.cpp
  SYCL/lit.cfg.py
Owners: @intel/llvm-reviewers-runtime

[SYCL] Remove host run and dependencies from SYCL/ESIMD tests (#1206)
  SYCL/ESIMD/api/functional/ctors/ctor_vector_core.cpp
  SYCL/ESIMD/esimd_test_utils.hpp
Owners: @intel/dpcpp-esimd-reviewers

[SYCL] [CUDA] Disable an assert test on CUDA due to flaky failures (#1251)
  SYCL/Assert/assert_in_simultaneous_kernels.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Use float instead of double in some SpecConstants tests (#1247)
  SYCL/SpecConstants/2020/handler-api.cpp
  SYCL/SpecConstants/2020/kernel-bundle-api.cpp
Owners: @intel/dpcpp-tools-reviewers
