Repository myler/llvm-test-suite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pvchupin, @intel/llvm-reviewers-runtime, @dm-vodopyanov, @AlexeySachkov, @vzakhari, @MrSidims, @kychendev, @kbobrovs, @v-vklochkov, @intel/dpcpp-esimd-reviewers, @Pennycook, @intel/dpcpp-l0-pi-reviewers, @intel/dpcpp-tools-reviewers, @v-klochkov, @cperkinsintel, @jbrodman, @sergey-semenov, @againull, @myler, @wanyaman, @duanhanbing, @fveselov

.github/CODEOWNERS:

* @pvchupin

# Use runtime team as the umbrella for most of the tests
/SYCL/ @intel/llvm-reviewers-runtime

# SYCL sub-directory matchers are grouped by code owner first, followed by
# alphabetical order within the group. Please, keep this ordering.

# Atomics
SYCL/AtomicRef @dm-vodopyanov @AlexeySachkov

# SYCL RT specific tests
SYCL/Assert @intel/llvm-reviewers-runtime
SYCL/Basic @intel/llvm-reviewers-runtime
SYCL/Config @intel/llvm-reviewers-runtime
SYCL/DiscardEvents @intel/llvm-reviewers-runtime
SYCL/FilterSelector @intel/llvm-reviewers-runtime
SYCL/HostInteropTask @intel/llvm-reviewers-runtime
SYCL/InorderQueue @intel/llvm-reviewers-runtime
SYCL/KernelAndProgram @intel/llvm-reviewers-runtime
SYCL/KernelParams @intel/llvm-reviewers-runtime
SYCL/Scheduler @intel/llvm-reviewers-runtime
SYCL/Tracing  @intel/llvm-reviewers-runtime

# Device library
SYCL/DeviceLib @vzakhari
SYCL/DeviceLib/ITTAnnotations @vzakhari @MrSidims

# Explicit SIMD
config_sycl/esimd* @kychendev @kbobrovs @v-vklochkov
SYCL/ESIMD @intel/dpcpp-esimd-reviewers

# Functor
SYCL/Functor @AlexeySachkov

# Group algorithms
SYCL/GroupAlgorithm @Pennycook @intel/llvm-reviewers-runtime
SYCL/SubGroup @Pennycook @intel/llvm-reviewers-runtime
SYCL/SubGroupMask @Pennycook @intel/llvm-reviewers-runtime
SYCL/GroupLocalMemory @Pennycook @intel/llvm-reviewers-runtime

# Plugin interface for Level Zero
/SYCL/Plugin/*level-zero* @intel/dpcpp-l0-pi-reviewers
/SYCL/Plugin/*level_zero* @intel/dpcpp-l0-pi-reviewers

# Printf
SYCL/Printf @intel/dpcpp-tools-reviewers

# Reduction algorithms
SYCL/Reduction @v-klochkov

# Image sampler
SYCL/Sampler @cperkinsintel

# Separate compilation
SYCL/SeparateCompile @intel/dpcpp-tools-reviewers

# Specialization constant
SYCL/SpecConstants @intel/dpcpp-tools-reviewers

# Unified Shared Memory (USM)
SYCL/USM @jbrodman @sergey-semenov

# Stream
SYCL/Basic/stream @againull

# Test scripts
*.pl @myler @wanyaman @duanhanbing
*.list @myler @wanyaman @duanhanbing

# tc files
*.xml @myler @wanyaman @duanhanbing
config_sycl/* @myler @wanyaman @duanhanbing

# Deprecated features
SYCL/DeprecatedFeatures @intel/llvm-reviewers-runtime

# ESIMD embargo
SYCL_ESIMD_EMBARGO @kychendev @kbobrovs @v-vklochkov
config_sycl_esimd_embargo @kychendev @kbobrovs @v-vklochkov
SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/lsc @fveselov

# named barriers
SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/named_barriers @fveselov

# XPTI and XPTI Framework
SYCL/XPTI @intel/llvm-reviewers-runtime

# BFloat16 conversion
/SYCL/BFloat16/ @intel/dpcpp-tools-reviewers

# Compiler tests
/SYCL/AOT/ @intel/dpcpp-tools-reviewers
/SYCL/DeviceCodeSplit/ @intel/dpcpp-tools-reviewers
/SYCL/SeparateCompile/ @intel/dpcpp-tools-reviewers

split double tests in SubGroup directory
  SYCL/SubGroup/barrier.cpp
  SYCL/SubGroup/barrier.hpp
  SYCL/SubGroup/barrier_aspect-fp64.cpp
  SYCL/SubGroup/generic-shuffle.hpp
  SYCL/SubGroup/generic-shuffle_aspect-fp64.cpp
  SYCL/SubGroup/info.cpp
  SYCL/SubGroup/load_store.cpp
  SYCL/SubGroup/load_store.hpp
  SYCL/SubGroup/load_store_aspect-fp64.cpp
Owners: @Pennycook, @intel/llvm-reviewers-runtime

split double tests in USM directory
  SYCL/USM/copy.cpp
  SYCL/USM/copy.hpp
  SYCL/USM/copy_aspect-fp64.cpp
  SYCL/USM/fill.cpp
  SYCL/USM/fill.hpp
  SYCL/USM/fill_aspect-fp64.cpp
Owners: @jbrodman, @sergey-semenov

[SYCL] Use 0 for generic mem_advise (#1140)
  SYCL/DiscardEvents/discard_events_test_queue_ops.hpp
  SYCL/DiscardEvents/invalid_event.cpp
  SYCL/USM/memadvise.cpp
Owners: @intel/llvm-reviewers-runtime, @jbrodman, @sergey-semenov

remove deprecated namespace cl::
  SYCL/ESIMD/api/bin_and_cmp_ops_heavy.hpp
  SYCL/ESIMD/api/bin_and_cmp_ops_heavy_aspect-fp64.cpp
  SYCL/ESIMD/api/saturation_smoke.hpp
  SYCL/ESIMD/api/saturation_smoke_aspect-fp64.cpp
  SYCL/ESIMD/api/unary_ops_heavy.hpp
  SYCL/ESIMD/api/unary_ops_heavy_aspect-fp64.cpp
  SYCL/ESIMD/ext_math.cpp
  SYCL/ESIMD/ext_math.hpp
  SYCL/ESIMD/ext_math_aspect-fp64.cpp
  SYCL/SubGroup/barrier.hpp
  SYCL/SubGroup/generic-shuffle.hpp
  SYCL/SubGroup/generic-shuffle_aspect-fp64.cpp
  SYCL/SubGroup/load_store.hpp
  SYCL/SubGroup/load_store_aspect-fp64.cpp
  SYCL/USM/fill.hpp
  SYCL/USM/fill_aspect-fp64.cpp
Owners: @intel/dpcpp-esimd-reviewers, @Pennycook, @intel/llvm-reviewers-runtime, @jbrodman, @sergey-semenov

fix clang-format issue
  SYCL/Basic/buffer/buffer_aspect-fp64.cpp
  SYCL/ESIMD/api/bin_and_cmp_ops_heavy_aspect-fp64.cpp
  SYCL/ESIMD/api/saturation_smoke_aspect-fp64.cpp
  SYCL/ESIMD/ext_math.hpp
  SYCL/ESIMD/regression/dgetrf_8x8.cpp
  SYCL/SubGroup/generic-shuffle_aspect-fp64.cpp
  SYCL/SubGroup/load_store_aspect-fp64.cpp
  SYCL/USM/copy_aspect-fp64.cpp
  SYCL/USM/fill.cpp
  SYCL/USM/fill_aspect-fp64.cpp
Owners: @intel/llvm-reviewers-runtime, @intel/dpcpp-esimd-reviewers, @Pennycook, @jbrodman, @sergey-semenov

fix clang-format issue 2
  SYCL/SubGroup/generic-shuffle_aspect-fp64.cpp
Owners: @Pennycook, @intel/llvm-reviewers-runtime

fix 3-way merge conflicts in union_kernel_param.cpp
  SYCL/KernelParams/union_kernel_param.cpp
Owners: @intel/llvm-reviewers-runtime

CMPLRTST-17585: add OpenCL_LIBRARY to cmake option
  llvm_test_suite_sycl.pl
Owners: @myler, @wanyaman, @duanhanbing

disable esimd_preemption on dg2
  SYCL/ESIMD/preemption.cpp
Owners: @intel/dpcpp-esimd-reviewers

[SYCL] Tests for events caching mode in the L0 plugin (#1121)
  SYCL/Plugin/level_zero_events_caching.cpp
  SYCL/Plugin/level_zero_events_caching_leak.cpp
Owners: @intel/dpcpp-l0-pi-reviewers

[SYCL] Add E2E invoke_simd 'smoke' test. (#1124)
  SYCL/InvokeSimd/invoke_simd_smoke.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] new tests for SYCL 2020 callable device selector interfaces (#1119)
  SYCL/Basic/device-selectors.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Adjust tests to info descriptor changes (#1107)
  SYCL/Basic/info.cpp
  SYCL/Basic/kernel_info.cpp
  SYCL/DeprecatedFeatures/kernel_info.cpp
  SYCL/SubGroup/attributes.cpp
  SYCL/SubGroup/info.cpp
Owners: @intel/llvm-reviewers-runtime, @Pennycook

[SYCL][CUDA][HIP] Fix compile command in CommandCleanupThreadSafety.cpp (#1087)
  SYCL/Scheduler/CommandCleanupThreadSafety.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL][CUDA] Fix compile command in gpu.cpp (#1088)
  SYCL/Regression/commandlist/gpu.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL][CUDA][HIP] Fix device_num.cpp test (#1081)
  SYCL/Regression/device_num.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL][CUDA] Enable printf test for CUDA (#1096)
  SYCL/DeviceLib/built-ins/printf.cpp
Owners: @vzakhari

[SYCL] Enable reduction_nd_n_vars test (#1133)
  SYCL/Reduction/reduction_nd_N_vars.cpp
Owners: @v-klochkov

[SYCL] Enable reduction tests back (LevelZero GPU RT was updated) (#1134)
  SYCL/Reduction/reduction_nd_s0_dw.cpp
  SYCL/Reduction/reduction_nd_s0_rw.cpp
  SYCL/Reduction/reduction_nd_s1_dw.cpp
  SYCL/Reduction/reduction_nd_s1_rw.cpp
  SYCL/Reduction/reduction_range_1d_s0_dw.cpp
  SYCL/Reduction/reduction_range_1d_s0_rw.cpp
  SYCL/Reduction/reduction_range_1d_s1_dw.cpp
  SYCL/Reduction/reduction_range_1d_s1_rw.cpp
  SYCL/Reduction/reduction_range_2d_s1_dw.cpp
  SYCL/Reduction/reduction_range_2d_s1_rw.cpp
  SYCL/Reduction/reduction_range_3d_s1_dw.cpp
  SYCL/Reduction/reduction_range_3d_s1_rw.cpp
  SYCL/Reduction/reduction_range_usm_dw.cpp
  SYCL/Reduction/reduction_usm.cpp
  SYCL/Reduction/reduction_usm_dw.cpp
Owners: @v-klochkov

[SYCL][CUDA] Fix kernel bundle related tests (#1093)
  SYCL/KernelAndProgram/build-log.cpp
  SYCL/KernelAndProgram/cache-build-result.cpp
  SYCL/KernelAndProgram/kernel-bundle-merge-options-env.cpp
  SYCL/KernelAndProgram/kernel-bundle-merge-options.cpp
  SYCL/KernelAndProgram/multiple-kernel-linking.cpp
  SYCL/KernelAndProgram/undefined-symbol.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL][CUDA][HIP] Expand Config/select_device.cpp for CUDA and HIP (#1086)
  SYCL/Config/select_device.cpp
Owners: @intel/llvm-reviewers-runtime

Test for changes to ensure proper compilation of bitshift functions (#1100)
  SYCL/ESIMD/regression/bit_shift_compilation_test.cpp
  SYCL/ESIMD/regression/rol_ror_compilation_test.cpp
Owners: @intel/dpcpp-esimd-reviewers

[SYCL][HIP] Disable device_num.cpp (#1136)
  SYCL/Regression/device_num.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Enable assert_in_simultaneously_multiple_tus back for LevelZero (#1135)
  SYCL/Assert/assert_in_simultaneously_multiple_tus.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Update get_profiling_info() test (#1120)
  SYCL/Plugin/level_zero_queue_profiling.cpp
Owners: @intel/dpcpp-l0-pi-reviewers

[SYCL][L0] check fixed queue indices when submitting to sub-sub-devices (#1139)
  SYCL/Plugin/level_zero_sub_sub_device.cpp
Owners: @intel/dpcpp-l0-pi-reviewers

[SYCL] Adjust SYCL 2020 guarded feature tests (#1137)
  SYCL/Basic/buffer/buffer_allocator.cpp
  SYCL/Basic/fpga_tests/fpga_queue.cpp
  SYCL/HostInteropTask/interop-task.cpp
  SYCL/Plugin/interop-opencl.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Complementary change for removing cl:: namespace (#1128)
  SYCL/ESIMD/linear/bitmap_helpers.h
Owners: @intel/dpcpp-esimd-reviewers

[SYCL] disable code_loc e2e test on hip and cuda (#1145)
  SYCL/Basic/code_location_e2e.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] E2E test for code_location. (#1123)
  SYCL/Basic/code_location_e2e.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL][HIP] Re-enable aspect::atomic64 tests (#1094)
  SYCL/AtomicRef/assignment_atomic64.cpp
  SYCL/Basic/aspects.cpp
Owners: @dm-vodopyanov, @AlexeySachkov, @intel/llvm-reviewers-runtime

[SYCL][HIP] Enable reduction span test (#1097)
  SYCL/Reduction/reduction_span.cpp
Owners: @v-klochkov

Add regression test for DAE and separate compile (#970)
  SYCL/Regression/DAE-separate-compile.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] new tests for SYCL 2020 standalone device selectors ( gpu_selector_v and friends) (#1141)
  SYCL/Basic/device-selectors.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Disable recently added test on CUDA/HIP (#1148)
  SYCL/DeviceLib/imf_simd_emulate_test.cpp
Owners: @vzakhari

[SYCL][XPTI] Increase number of expected args in reduction (#1040)
  SYCL/XPTI/kernel/content.cpp
Owners: @intel/llvm-reviewers-runtime

[libdevice] Add tests for imf simd APIs. (#1074)
  SYCL/DeviceLib/imf_simd_emulate_test.cpp
Owners: @vzakhari

[SYCL] Update invoke_simd smoke test, add test on argument conversion. (#1146)
  SYCL/InvokeSimd/invoke_simd_conv.cpp
  SYCL/InvokeSimd/invoke_simd_smoke.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Enable handler_mem_op test (#1154)
  SYCL/Basic/handler/handler_mem_op.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL][ESIMD][EMU] Enabling dpas_test1/2/3 tests (#1151)
  SYCL/ESIMD/dpas/dpas_test1.cpp
  SYCL/ESIMD/dpas/dpas_test2.cpp
  SYCL/ESIMD/dpas/dpas_test3.cpp
Owners: @intel/dpcpp-esimd-reviewers
