Repository myler/llvm-test-suite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pvchupin, @intel/llvm-reviewers-runtime, @dm-vodopyanov, @AlexeySachkov, @vzakhari, @MrSidims, @kychendev, @kbobrovs, @v-vklochkov, @intel/dpcpp-esimd-reviewers, @Pennycook, @intel/dpcpp-l0-pi-reviewers, @intel/dpcpp-tools-reviewers, @v-klochkov, @cperkinsintel, @jbrodman, @sergey-semenov, @againull, @myler, @wanyaman, @duanhanbing, @fveselov

[SYCL][CUDA] Add cuda-experimental context and device test (#1041)
  SYCL/Plugin/interop-cuda-experimental.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Add bf16 aspect (#888)
  SYCL/BFloat16/bfloat16_type_cuda.cpp
  SYCL/Basic/aspects.cpp
Owners: @intel/dpcpp-tools-reviewers, @intel/llvm-reviewers-runtime

[SYCL] Update to PI_ERROR_INVALID_OPERATION (#1048)
  SYCL/SubGroup/attributes.cpp
Owners: @Pennycook, @intel/llvm-reviewers-runtime

[SYCL] These tests are currently failing on CUDA (#1052)
  SYCL/Sampler/unnormalized-clamp-nearest.cpp
  SYCL/Sampler/unnormalized-clampedge-nearest.cpp
  SYCL/Sampler/unnormalized-none-nearest.cpp
Owners: @cperkinsintel

[SYCL][matrix] add a new test for irregular slicing on packed matrix that calculates sum of rows of the matrix (#899)
  SYCL/Matrix/element_wise_irreg_sum_rows.cpp
Owners: @intel/llvm-reviewers-runtime

Update llvm_test_suite_sycl to 33c77fa24: Auto pulldown and update tc files on 20220620 for xmain-cand branch
  config_sycl/matrix_element_wise_irreg_sum_rows.info
  config_sycl/matrix_element_wise_irreg_sum_rows.xml
  config_sycl/plugin_interop_cuda_experimental.info
  config_sycl/plugin_interop_cuda_experimental.xml
  llvm_test_suite_sycl.xml
  llvm_test_suite_sycl_valgrind.xml
Owners: @myler, @wanyaman, @duanhanbing

Post command to copy files to build directory, detail in https://reviews.llvm.org/D108849
  llvm_test_suite_sycl.pl
Owners: @myler, @wanyaman, @duanhanbing

CMPLRTOOLS-27117: To ignore unrelated files issue in tmt verification for llvm-test-suite pulldown, create a dummy suite and include all the files in its XML.
  config/TEMPLATE_dummy_pulldown.xml
  dummy_llvm_test_suite.pl
  dummy_llvm_test_suite.xml
  test_drivers.xml
Owners: @myler, @wanyaman, @duanhanbing

Fix CMPLRTST-16932: Update llvm_test_suite_sycl_matrix.xml because config_sycl/TEMPLATE_llvm_test_suite_sycl.xml has been removed.
  llvm_test_suite_sycl_matrix.xml
Owners: @myler, @wanyaman, @duanhanbing

[ESIMD] Remove EMBARGO test for lsc_fence (#998)
  SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/lsc_fence_pvc.cpp
Owners: @kychendev, @kbobrovs, @v-vklochkov

[SYCL][CUDA] Add experimental cuda queue interop test (#1054)
  SYCL/Plugin/interop-cuda-experimental.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] test errc for placeholder accessor fail (#890)
  SYCL/Basic/accessor/accessor.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL][libdevice] Test libdevice jit-link mode. (#1055)
  SYCL/DeviceLib/cmath_fp64_test.cpp
  SYCL/DeviceLib/cmath_test.cpp
  SYCL/DeviceLib/math_fp64_test.cpp
  SYCL/DeviceLib/math_test.cpp
  SYCL/DeviceLib/std_complex_math_fp64_test.cpp
  SYCL/DeviceLib/std_complex_math_test.cpp
  SYCL/DeviceLib/string_test.cpp
Owners: @vzakhari

[SYCL][CUDA] Re-enable test for samplers (#1062)
  SYCL/Sampler/unnormalized-clamp-nearest.cpp
  SYCL/Sampler/unnormalized-clampedge-nearest.cpp
  SYCL/Sampler/unnormalized-none-nearest.cpp
Owners: @cperkinsintel

enable working tests (#1059)
  SYCL/Assert/assert_in_kernels_ndebug.cpp
  SYCL/GroupAlgorithm/exclusive_scan_over_group.cpp
  SYCL/GroupAlgorithm/exclusive_scan_sycl2020.cpp
  SYCL/GroupAlgorithm/inclusive_scan_sycl2020.cpp
  SYCL/GroupAlgorithm/reduce_sycl2020.cpp
  SYCL/SpecConstants/2020/handler-api.cpp
  SYCL/SpecConstants/2020/host_apis.cpp
  SYCL/SpecConstants/2020/kernel-bundle-api.cpp
  SYCL/SpecConstants/2020/non_native/cuda.cpp
  SYCL/SpecConstants/2020/vector-convolution-demo.cpp
Owners: @intel/llvm-reviewers-runtime, @Pennycook, @intel/dpcpp-tools-reviewers

Add cuda event interop test and has_native_event (#1053)
  SYCL/Plugin/interop-cuda-experimental.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Use <CL/sycl.hpp> include in recent USM tests (#1065)
  SYCL/USM/alloc_functions.cpp
  SYCL/USM/allocator_rebind.cpp
Owners: @jbrodman, @sergey-semenov

[SYCL] Change tests for PI errors (#1061)
  SYCL/FilterSelector/select.cpp
  SYCL/KernelAndProgram/build-log.cpp
  SYCL/KernelAndProgram/cache-build-result.cpp
Owners: @intel/llvm-reviewers-runtime

[ESIMD] Disable fmod_compatibility_test.cpp on esimd_emulator (#1066)
  SYCL/ESIMD/regression/fmod_compatibility_test.cpp
Owners: @intel/dpcpp-esimd-reviewers

[ESIMD] Add a test to validate new implementation of esimd::fmod (#1045)
  SYCL/ESIMD/regression/fmod_compatibility_test.cpp
Owners: @intel/dpcpp-esimd-reviewers

[SYCL] Add tests for native math extension (#895)
  SYCL/DeviceLib/built-ins/ext_native_math.cpp
Owners: @vzakhari

[SYCL] Add --ffast-math tests (#919)
  SYCL/DeviceLib/built-ins/fast-math-flag.cpp
Owners: @vzakhari

Update llvm_test_suite_sycl to 3071ddecf: Auto pulldown and update tc files on 20220701 for xmain-cand branch
  config_sycl/devicelib_built_ins_ext_native_math.info
  config_sycl/devicelib_built_ins_ext_native_math.xml
  config_sycl/devicelib_built_ins_fast_math_flag.info
  config_sycl/devicelib_built_ins_fast_math_flag.xml
  config_sycl/esimd_regression_fmod_compatibility_test.info
  config_sycl/esimd_regression_fmod_compatibility_test.xml
  llvm_test_suite_sycl.xml
  llvm_test_suite_sycl_esimd.xml
  llvm_test_suite_sycl_valgrind.xml
Owners: @myler, @wanyaman, @duanhanbing

fix test_suite_repo path issue, update <suite>.xml and <test>.xml in-place.
  suite_generator.pl
Owners: @myler, @wanyaman, @duanhanbing

Fix CMPLRTST-17112: Set offset=256 in llvm_test_suite_sycl/esimd_regression_dgetrf test source. (#1008)
  SYCL/ESIMD/regression/Inputs/dgetrf.hpp
Owners: @intel/dpcpp-esimd-reviewers

Update task_sequence test
  SYCL/TaskSequence/consumer-producer.cpp
  SYCL/TaskSequence/mult-and-add.cpp
  SYCL/TaskSequence/sum-of-products-more-parallelism.cpp
  SYCL/TaskSequence/sum-of-products.cpp
  SYCL/TaskSequence/user-sot.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL][L0] re-enable SYCL/Plugin/level_zero_batch_barrier.cpp (#1092)
  SYCL/Plugin/level_zero_batch_barrier.cpp
Owners: @intel/dpcpp-l0-pi-reviewers

[SYCL][CUDA] Add cuda_dev_kit feature (#1056)
  SYCL/Plugin/interop-cuda-experimental.cpp
  SYCL/README.md
  SYCL/lit.cfg.py
  SYCL/lit.site.cfg.py.in
Owners: @intel/llvm-reviewers-runtime

[ESIMD] Add a test for lsc_fence intrinsic (#1071)
  SYCL/ESIMD/lsc/lsc_fence.cpp
Owners: @intel/dpcpp-esimd-reviewers

[SYCL] Don't check for memory leaks in the L0 buffer interop test (#1068)
  SYCL/Plugin/interop-level-zero-get-native-mem.cpp
Owners: @intel/dpcpp-l0-pi-reviewers

[SYCL] Ignore backend warning in discard event test (#1050)
  SYCL/DiscardEvents/discard_events_usm_ooo_queue.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL] Enable asserts for cuda (#1070)
  SYCL/Assert/assert_in_kernels.cpp
  SYCL/Assert/assert_in_kernels_win.cpp
  SYCL/Assert/assert_in_multiple_tus.cpp
  SYCL/Assert/assert_in_multiple_tus_one_ndebug.cpp
  SYCL/Assert/assert_in_multiple_tus_one_ndebug_win.cpp
  SYCL/Assert/assert_in_multiple_tus_win.cpp
  SYCL/Assert/assert_in_one_kernel.cpp
  SYCL/Assert/assert_in_one_kernel_win.cpp
  SYCL/Assert/assert_in_simultaneous_kernels.cpp
  SYCL/Assert/assert_in_simultaneous_kernels_win.cpp
  SYCL/Assert/assert_in_simultaneously_multiple_tus.cpp
  SYCL/Assert/assert_in_simultaneously_multiple_tus_one_ndebug.cpp
Owners: @intel/llvm-reviewers-runtime

[SYCL][CUDA] Test cases for bfloat16 math/elem wise joint_matrix (#975)
  SYCL/BFloat16/bfloat16_builtins.cpp
  SYCL/Matrix/element_wise_all_ops_cuda.cpp
  SYCL/Matrix/element_wise_wi_marray.cpp
  SYCL/Matrix/joint_matrix_tensorcore.cpp
Owners: @intel/dpcpp-tools-reviewers, @intel/llvm-reviewers-runtime

[SYCL][CUDA] Explicitly adding extension headers in tests. (#1072)
  SYCL/BFloat16/bfloat16_builtins.cpp
  SYCL/DeviceLib/built-ins/ext_native_math.cpp
  SYCL/Matrix/element_wise_all_ops_cuda.cpp
  SYCL/Matrix/element_wise_wi_marray.cpp
  SYCL/Matrix/joint_matrix_tensorcore.cpp
  SYCL/Printf/char.cpp
  SYCL/Printf/double.cpp
  SYCL/Printf/float.cpp
  SYCL/Printf/int.cpp
  SYCL/Printf/long.cpp
  SYCL/Printf/mixed-address-space.cpp
  SYCL/Printf/percent-symbol.cpp
Owners: @intel/dpcpp-tools-reviewers, @vzakhari, @intel/llvm-reviewers-runtime

[ESIMD] Introduce a test for a fix for copy_to handling of char buffers (#1057)
  SYCL/ESIMD/regression/copyto_char_test.cpp
Owners: @intel/dpcpp-esimd-reviewers

Fix compilation of tests using printf extension. (#1075)
  SYCL/DeviceLib/built-ins/printf.cpp
  SYCL/ESIMD/printf.cpp
Owners: @vzakhari, @intel/dpcpp-esimd-reviewers

[SYCL][CUDA] Enable group tests (#1077)
  SYCL/SubGroup/reduce_spirv13.cpp
  SYCL/SubGroup/scan_spirv13.cpp
Owners: @Pennycook, @intel/llvm-reviewers-runtime

[SYCL] Use non-deprecated names in online_compiler_common.hpp (#1080)
  SYCL/OnlineCompiler/online_compiler_common.hpp
Owners: @intel/llvm-reviewers-runtime

[SYCL][HIP] Mark reduction_span_pack.cpp unsupported on hip/amd (#1079)
  SYCL/Reduction/reduction_span_pack.cpp
Owners: @v-klochkov

Update llvm_test_suite_sycl to 772c791ae: [SYCL] Auto pulldown and update tc files on 20220719 for xmain-cand branch
  config_sycl/bfloat16_bfloat16_builtins.info
  config_sycl/bfloat16_bfloat16_builtins.xml
  config_sycl/esimd_lsc_lsc_fence.info
  config_sycl/esimd_lsc_lsc_fence.xml
  config_sycl/esimd_regression_copyto_char_test.info
  config_sycl/esimd_regression_copyto_char_test.xml
  config_sycl/matrix_element_wise_all_ops_cuda.info
  config_sycl/matrix_element_wise_all_ops_cuda.xml
  config_sycl/matrix_element_wise_wi_marray.info
  config_sycl/matrix_element_wise_wi_marray.xml
  llvm_test_suite_sycl.xml
  llvm_test_suite_sycl_esimd.xml
  llvm_test_suite_sycl_valgrind.xml
Owners: @myler, @wanyaman, @duanhanbing

.github/CODEOWNERS:

* @pvchupin

# Use runtime team as the umbrella for most of the tests
/SYCL/ @intel/llvm-reviewers-runtime

# SYCL sub-directory matchers are grouped by code owner first, followed by
# alphabetical order within the group. Please, keep this ordering.

# Atomics
SYCL/AtomicRef @dm-vodopyanov @AlexeySachkov

# SYCL RT specific tests
SYCL/Assert @intel/llvm-reviewers-runtime
SYCL/Basic @intel/llvm-reviewers-runtime
SYCL/Config @intel/llvm-reviewers-runtime
SYCL/DiscardEvents @intel/llvm-reviewers-runtime
SYCL/FilterSelector @intel/llvm-reviewers-runtime
SYCL/HostInteropTask @intel/llvm-reviewers-runtime
SYCL/InorderQueue @intel/llvm-reviewers-runtime
SYCL/KernelAndProgram @intel/llvm-reviewers-runtime
SYCL/KernelParams @intel/llvm-reviewers-runtime
SYCL/Scheduler @intel/llvm-reviewers-runtime
SYCL/Tracing  @intel/llvm-reviewers-runtime

# Device library
SYCL/DeviceLib @vzakhari
SYCL/DeviceLib/ITTAnnotations @vzakhari @MrSidims

# Explicit SIMD
config_sycl/esimd* @kychendev @kbobrovs @v-vklochkov
SYCL/ESIMD @intel/dpcpp-esimd-reviewers

# Functor
SYCL/Functor @AlexeySachkov

# Group algorithms
SYCL/GroupAlgorithm @Pennycook @intel/llvm-reviewers-runtime
SYCL/SubGroup @Pennycook @intel/llvm-reviewers-runtime
SYCL/SubGroupMask @Pennycook @intel/llvm-reviewers-runtime
SYCL/GroupLocalMemory @Pennycook @intel/llvm-reviewers-runtime

# Plugin interface for Level Zero
/SYCL/Plugin/*level-zero* @intel/dpcpp-l0-pi-reviewers
/SYCL/Plugin/*level_zero* @intel/dpcpp-l0-pi-reviewers

# Printf
SYCL/Printf @intel/dpcpp-tools-reviewers

# Reduction algorithms
SYCL/Reduction @v-klochkov

# Image sampler
SYCL/Sampler @cperkinsintel

# Separate compilation
SYCL/SeparateCompile @intel/dpcpp-tools-reviewers

# Specialization constant
SYCL/SpecConstants @intel/dpcpp-tools-reviewers

# Unified Shared Memory (USM)
SYCL/USM @jbrodman @sergey-semenov

# Stream
SYCL/Basic/stream @againull

# Test scripts
*.pl @myler @wanyaman @duanhanbing
*.list @myler @wanyaman @duanhanbing

# tc files
*.xml @myler @wanyaman @duanhanbing
config_sycl/* @myler @wanyaman @duanhanbing

# Deprecated features
SYCL/DeprecatedFeatures @intel/llvm-reviewers-runtime

# ESIMD embargo
SYCL_ESIMD_EMBARGO @kychendev @kbobrovs @v-vklochkov
config_sycl_esimd_embargo @kychendev @kbobrovs @v-vklochkov
SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/lsc @fveselov

# named barriers
SYCL_ESIMD_EMBARGO/ESIMD/EMBARGO/named_barriers @fveselov

# XPTI and XPTI Framework
SYCL/XPTI @intel/llvm-reviewers-runtime

# BFloat16 conversion
/SYCL/BFloat16/ @intel/dpcpp-tools-reviewers

# Compiler tests
/SYCL/AOT/ @intel/dpcpp-tools-reviewers
/SYCL/DeviceCodeSplit/ @intel/dpcpp-tools-reviewers
/SYCL/SeparateCompile/ @intel/dpcpp-tools-reviewers
